﻿@charset "utf-8";
.button, .button.nohover:hover {
	background-image: url(../images/button.png?v=20121222001);
	background-repeat: no-repeat;
	background-position: right top;
	text-shadow:1px 1px 1px #FFF;
	color: #000000;
	float:left;
	height:19px;
	padding-right: 4px;
	margin-right:4px;
	margin-left:4px;
	text-decoration: none;
	cursor: pointer;
}
.button:focus {
	outline: none;
}
.button span, .button.nohover:hover span {
	background-color:transparent;
	background-image: url(../images/button.png?v=20121222001);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 19px;
	padding-right: 0px;
	padding-left: 4px;
	margin-left:-5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 175px;
	height: 19px;
	vertical-align: top;
	display:block;
	text-align:center;
	font-size:11px;
}
.button:hover { 
    background-position: right -20px;
	color: #fff;
	text-shadow:-1px -1px 1px #d2591f;
} 
.button:hover span { 
    background-position: left -20px; 
}
.button.disable { 
    background-position: right -60px;
	color: #8C8C8C;
	text-shadow:1px 1px 1px #FFF;
	cursor: default;
} 
.button.disable span { 
    background-position: left -60px;
}
/*button mark */
.button.mark, .button.mark.nohover:hover {
    background-position: right -80px;
	text-shadow: -1px -1px 1px #355587;
	color:#FFFFFF;
}
.button.mark span, .button.mark.nohover:hover span {
    background-position: left -80px;
}
.button.mark:hover {
    background-position: right -100px;
	text-shadow:-1px -1px 1px #d2591f;
}
.button.mark:hover span {
    background-position: left -100px;
}
.button.mark.disable {
    background-position: right -60px;
	color: #8C8C8C;
	text-shadow:1px 1px 1px #FFF;
}
.button.mark.disable span {
    background-position: left -60px;
}
/*button select */
.button.select.percent {
    width: 92%;
    margin: 4px 0 4px 4px;
    float: none;
}
.button.select {
    outline: none;
    background-position: right -160px;
	/*max-width:540px;*/
}
.button.select span {
    background-position: left -160px;
	max-width:none;
	text-align: left;
	padding-right:5px;
	margin-right: 20px;
}
.button.select:hover {
    background-position: right -180px;
}
.button.select:hover span {
    background-position: left -180px;
}
.button.select.disable {
    background-position: right -220px;
}
.button.select.disable span {
    background-position: left -220px;
}
.button.select ul.submenu {
	clear:both;
	text-align:left;
	visibility:hidden;
	margin:0;
	padding:0;
	list-style:none;
	position: relative;
	margin-left: -5px;
	margin-right: -4px;
	/**margin-right: 0;*/
	background-color:#F2F2F2;
	color:#000000;
	text-shadow: 1px 1px 1px #fff;
	line-height:12px;
	-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
	-webkit-border-radius: 3px;
	border: #afb6bc 1px solid;
	border-radius: 3px;
	z-index:999999;
	overflow:auto;
	max-height: 300px;
}
.button.select.disable:hover ul.submenu {visibility: hidden !important;}

/*2013/08/19*/
.button.select.icon ul.submenu {position: absolute;}
.icon_DL, .icon_SL, .icon_ST, .icon_NO, .icon_HT, .icon_FT, .icon_Dec, .icon_HK, .icon_MY, .icon_All, .icon_Main{
	margin-bottom:-3px;
	background-color:transparent;
	background-image: url(../images/icon_select.png?=20131202001);
	background-repeat: no-repeat;
	width:17px;
	height:15px;
	margin-right:2px;
	display:inline-block;
}
.icon_DL{background-position: 0px -25px;}
.icon_SL{background-position: -25px -25px;}
.icon_ST{background-position: -100px -25px;}
.icon_NO{background-position: -125px -25px;}
.icon_HT{background-position: -50px -25px;}
.icon_FT{background-position: -75px -25px;}
.icon_Dec{background-position: -175px -25px;}
.icon_HK{background-position: -200px -25px;}
.icon_MY{background-position: -150px -25px;}
.icon_All{background-position: -225px -25px;}
.icon_Main{background-position: -250px -25px;}

.button.select:hover span div.icon_DL{background-position: 0px 0px;}
.button.select:hover span div.icon_SL{background-position: -25px 0px;}
.button.select:hover span div.icon_ST{background-position: -100px 0px;}
.button.select:hover span div.icon_NO{background-position: -125px 0px;}
.button.select:hover span div.icon_HT{background-position: -50px 0px;}
.button.select:hover span div.icon_FT{background-position: -75px 0px;}
.button.select:hover span div.icon_Dec{background-position: -175px 0px;}
.button.select:hover span div.icon_HK{background-position: -200px 0px;}
.button.select:hover span div.icon_MY{background-position: -150px 0px;}
.button.select:hover span div.icon_All{background-position: -225px 0px;}
.button.select:hover span div.icon_Main{background-position: -250px 0px;}

.button.select.disable span div.icon_DL{background-position: 0px -50px;}
.button.select.disable span div.icon_SL{background-position: -25px -50px;}
.button.select.disable span div.icon_ST{background-position: -100px -50px;}
.button.select.disable span div.icon_NO{background-position: -125px -50px;}
.button.select.disable span div.icon_HT{background-position: -50px -50px;}
.button.select.disable span div.icon_FT{background-position: -75px -50px;}
.button.select.disable span div.icon_Dec{background-position: -175px -50px;}
.button.select.disable span div.icon_HK{background-position: -200px -50px;}
.button.select.disable span div.icon_MY{background-position: -150px -50px;}
.button.select.disable span div.icon_All{background-position: -225px -50px;}
.button.select.disable span div.icon_Main{background-position: -250px -50px;}

.icon span > div{margin-top:2px;margin-left:2px;}


ul.submenu li {
	padding: 5px;
	padding-right: 20px;
	cursor:pointer;
	display:block;
	white-space: nowrap;
	/*max-width:522px;*/
	overflow:hidden;
	/*text-overflow: ellipsis;*/
}
ul.submenu li.selected {
	color: #ff6a00;
	background-color:#FFF;
	border: #ff6a00 1px solid;
	padding:4px 19px 4px 4px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
}
ul.submenu li a {
	color:#2f4a77;
}
ul.submenu li a:hover {
	color: #ff6a00;
}
/*button group*/
a.button.group {
	background-position: right -240px;
	margin-right: 0px;
}
a.button.group:hover {	
	background-position: right -260px;
}
a.button.group:hover + a.button span{	
	background-position: left -280px;
}
a.button.group+a.button span {	
	background-position: left -240px;
}
a.button.group+a.button:hover span {	
	background-position: left -260px;
}
/*button tab*/
.button.tab {
	background-position: right -500px;
	padding-right: 2px;
}
.button.tab span {
	text-align:left;
	max-width:200px;
	background-position: left -500px;
	padding-left: 5px;
	font-size: 12px;
	font-weight: bold;
	color:#FFF;
	text-shadow: 1px 1px 1px #000;
}
/*.button.tab:hover {
    background-position: right -420px;
}
.button.tab:hover span {
    background-position: left -420px;
}
button mark tab*/
/*.button.mark.tab {
	background-position: right -500px;
}
.button.mark.tab span {
    background-position: left -500px;
}
.button.mark.tab:hover {
    background-position: right -420px;
}
.button.mark.tab:hover span {
    background-position: left -420px;
}*/
/*.button.tab */.icon-arrow {
    background-image: url("../images/icon_UI02.png?v=20121222001");
    background-position: -112px 0;
    background-repeat: no-repeat;
    float: left;
    height: 15px;
    margin: 2px 4px 0px 0px;
    width: 15px;
}
/*Refresh button*/
.button .icon-refresh {
	display:inline-block;
	*display: inline; /*IE7*/
	*zoom : 1; /*IE7*/
	margin-top:2px;
	*margin-top:0px;/*IE7*/
	vertical-align:top;
}
.button:hover .icon-refresh {background-position: 0px -18px;}


#btnRefresh_L, #btnRefresh_D {
	width:35px;
}
#btnRefresh_L .icon-refresh, a[name="btnRefresh_L"] .icon-refresh {
	background-position: left -54px;
}
#btnRefresh_L:hover .icon-refresh, a[name="btnRefresh_L"]:hover .icon-refresh {
	background-position: left -18px;
}
#btnRefresh_L.disable .icon-refresh, a[name="btnRefresh_L"].disable .icon-refresh {
	background-image: url(../images/icon_RefreshWait_L.gif?v=20121222001);
	background-position:left top;
	background-repeat:no-repeat;
}
#btnRefresh_D.disable .icon-refresh, a[name="btnRefresh_D"].disable .icon-refresh, a[name="btnRefresh"].disable .icon-refresh {
	background-image: url(../images/icon_RefreshWait.gif?v=20121222001);
	background-position:left top;
	background-repeat:no-repeat;
}

/*icon button*/
.btnIcon {
	background-image: url(../images/btn_UI01.png?v=20121222001);
	background-repeat: no-repeat;
	background-position: left 0px;
	width:16px;
	height:16px;
	display: block;
	margin-left:2px;
	cursor:pointer;
}
.btnIcon:hover {background-position: left -20px;}
.btnIcon.disable {background-position: 0px -40px; cursor: default;}

.btnIcon.mark {background-position: 0px -60px;	/*margin-top:4px;*/}
.btnIcon.mark:hover {background-position: left -80px;}
.btnIcon.mark.disable {background-position: 0px -100px; cursor: default;}

.btnIcon.black {background-position: 0px -120px;}
.btnIcon.black:hover {background-position: left -140px;}
.btnIcon.black.disable {background-position: 0px -160px; cursor: default;}
/*.btnIcon.disable .icon-refresh { background-image: url(../images/icon_RefreshWait.gif); }*/

/* refresh icon (.icon-refresh) */
.btnIcon:hover .icon-refresh { background-position: 0px -18px;}
.btnIcon.disable .icon-refresh {	background-image: url(../images/icon_RefreshWait.gif?v=20121222001); background-position: 0px 0px;}
.btnIcon.mark .icon-refresh { background-position: 0px -36px;}
.btnIcon.mark:hover .icon-refresh { background-position: 0px -18px;}
.btnIcon.mark.disable .icon-refresh {	background-image: url(../images/icon_RefreshWait_M.gif?v=20121222001); background-position: 0px 0px;}
.btnIcon.black .icon-refresh { background-position: 0px -36px;}
.btnIcon.black:hover .icon-refresh { background-position: 0px -18px;}
.btnIcon.black.disable .icon-refresh {	background-image: url(../images/icon_RefreshWait_B.gif?v=20121222001); background-position: 0px 0px;}
/*.icon-refresh:hover, .icon-refreshB:hover, a:hover .icon-refresh {background-position: 0px -18px;}*/

.icon-refresh, .icon-close/*, .icon-refreshB*/, .icon-zoom, .icon-arrowsDown, .icon-arrowsUp,
.button.selectLeague .icon {
	background-image: url(../images/icon_UI01.png?v=20121222001);
	background-repeat: no-repeat;
	background-position: left 0px;
	width:16px;
	height:16px;
	display: block;
}
/*.icon-refreshB{background-position: 0px -36px;}*/
.icon-close{background-position: -18px 0px;}
.BetInfo .icon-close{background-position: -18px -36px;}
.icon-close:hover, .BetInfo .icon-close:hover{background-position: -18px -18px;}
.icon-zoom{background-position: -36px 0px;}
.icon-zoom:hover{background-position: -36px -18px;}
.icon-arrowsUp{background-position: -54px 0;display:inline-block;margin-top:1px;}
.icon-arrowsDown{background-position: -72px 0;display:inline-block;margin-top:1px;}
.button:hover .icon-arrowsUp{background-position: -54px -18px;}
.button:hover .icon-arrowsDown{background-position: -72px -18px;}

/* Header News button - Personal Msg*/
a.button.pMag {
	margin: 3px 0 0 0;
	padding: 2px;
	width: 38px;
	height: 15px;
	color: #e2e2e2;
	text-shadow: -1px -1px 1px #355587;
	background: url(../images/newsIcon.png) no-repeat 0 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-indent: 17px;
}
a.button.pMag:hover {
	text-shadow:-1px -1px 1px #d2591f;
	background-position: 0 -20px;
}




#odd_manu a.button {background: url(../images/newsIcon.png) no-repeat right -60px; color:#fff;text-shadow:-1px -1px 0 #203B70;}
#odd_manu a span {background: url(../images/newsIcon.png) no-repeat left -60px;}
#odd_manu a.button:hover { 
    background-position: right -100px;
	color: #fff;
	text-shadow:-1px -1px 1px #d2591f;
} 
#odd_manu a.button:hover span { 
    background-position: left -100px; 
}





/* Header News button - "+"*/
a.button.more {
	color: #e2e2e2;
	background: url(../images/newsIcon.png) no-repeat -100px 0;
	cursor: hand;
	height: 17px;
	width: 18px;
	float: right;
	margin: 1px 1px 0 0;
	padding: 0 1px 0 0;
	font-weight: bold;
	font-size: 14px;
	line-height: 15px;
	text-align: center;
}
a.button.more:hover {
	text-shadow:-1px -1px 1px #d2591f;
	background-position: -100px -20px;
}


/* select league button*/
.button.selectLeague span {
	vertical-align: middle;
}
.button.selectLeague span div {
	display: inline-block;
}
.button.selectLeague .icon {
	display: inline-block;
	margin-left: -2px;
	height: 14px;
	background-position: -90px 1px;
}
.button.selectLeague:hover .icon {
	background-position: -90px -17px;
	height: 14px;
}
.button.selectLeague .events {
	font-weight: bold;
}
.button.selectLeague .events .selected {
	color: #3f6fbc;
}
.button:hover.selectLeague .events .selected {
	color: #fff;
}
.normal {
	font-weight: normal;
}