﻿.divMenuPopup
{
	background-color: #fff;
	border: 1px solid #8F8272;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 5px 5px 2px #999;
	display: none;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EDE8E4,endColorstr=#FFFFFFFF);
	font-weight: 400;
	line-height: 20px;
	padding: 5px;
	position: absolute;
	white-space: nowrap;
}

.none
{
	display: none;
}

.divMenuPopup div
{
	border: 1px solid transparent;
	line-height: 20px;
}

.divMenuPopup div:hover
{
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EDE8E4, endColorstr=#FFFFFFFF)";
	background: -moz-linear-gradient(top, #EDE8E4, #fff);
	background: -webkit-gradient(linear, center top, center bottom, from(#EDE8E4), to(#fff));
	background-image: 0 0 100%;
	border: 1px solid #B8B9BD;
	border-radius: 3px 3px 3px 3px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EDE8E4,endColorstr=#FFFFFFFF);
	line-height: 20px;
}

.divMenuPopup div a:link
{
	color: #1E1EEB;
	display: block;
	padding-left: 30px;
	text-decoration: none;
}

.divMenuPopup div a:hover
{
	color: #F60;
	display: block;
	padding-left: 30px;
	text-decoration: none;
}

.divMenuPopup div a:visited
{
	display: block;
	padding-left: 30px;
	text-decoration: none;
}

a.Disable_edit:link, a.Disable_edit:visited, a.Disable_edit:hover
{
	background: url(Images/icon/ico_pencil.png) no-repeat scroll left center transparent;
}

a.Disabled:link, a.Disabled:visited, a.Disabled:hover
{
	background: url(Images/icon/ico_banned.png) no-repeat scroll left center transparent;
}

a.Synchronize:link, a.Synchronize:visited, a.Synchronize:hover
{
	background: url(Images/icon/ico_sync.png) no-repeat scroll left center transparent;
}

a.View:link, a.View:visited, a.View:hover
{
	background: url(Images/icon/ico_view.png) no-repeat;
}

.pMemInfo
{
	background: transparent url(../../../../../_GlobalResources/Images/letter_icoconts.png) no-repeat scroll right center;
	color: #2678C5;
	margin-right: 10px;
	padding-right: 15px;
	text-align: right;
	text-decoration: none;
	width: 70px;
}

.pMemInfoActive
{
	background: transparent url(../../../../../_GlobalResources/Images/letter_icoconts.png) no-repeat scroll right center;
	color: #F60;
	margin-right: 10px;
	padding-right: 15px;
	text-align: right;
	text-decoration: none;
	width: 70px;
}

.rdLabel
{
	color: #2678C5;
}

.memInfo
{
	color: #00F;
	cursor: pointer;
}

.memInfo:hover
{
	color: #D00;
	cursor: pointer;
}

a.LinkPopup:link, a.LinkPopup:visited, a.LinkPopup:hover, a.Enable:link, a.Enable:visited, a.Enable:hover
{
	background: url(Images/icon/ico_pencil_use.png) no-repeat scroll left center transparent;
}

.pMemInfo:hover, .rdLabel:hover
{
	color: #F60;
	cursor: pointer;
}
