﻿.closeAd
{
	position: absolute;
	right: 5px;
	top: 5px;
}

.notShowAd
{
	cursor: pointer; /*position: absolute; 	right: 3px;*/
	bottom: 1px;
	float: right;
	padding-right: 3px;
	display: none;
}
.pointer
{
	cursor: pointer;
}

#chkHide
{
	cursor: pointer;
}
.lblHide
{
	cursor: pointer;
}
.lblHide:hover
{
	cursor: pointer;
	color: #FF6600;
}

#popup_container
{
	font-family: Arial, sans-serif;
	font-size: 12px;
	background: #e0e0e0;
	position: absolute; /* FOR Flash */
	border: solid 1px #666; /* FOR Template & Text */ /*     border: solid 2px #666; 	color: #000;	 	-moz-border-radius: 8px; 	-webkit-border-radius: 8px; 	border-radius: 8px;*/
}

/*@Kaden modify UI for Announcement Text*/
#popup_container_text
{
	font-family: Arial, sans-serif;
	font-size: 12px;
}
#popup_container_text .toptitlepopup
{
	background: url(images/toptitlepopup.png) no-repeat;
	width: 474px;
	height: 55px;
}
#popup_container_text .toptitlepopup_TH
{
	background: url(images/toptitlepopup_thai.png) no-repeat;
	width: 474px;
	height: 55px;
}
#popup_container_text .toptitlepopup_TW
{
	background: url(images/toptitlepopup_TW.png) no-repeat;
	width: 474px;
	height: 55px;
}
#popup_container_text .toptitlepopup_KO
{
	background: url(images/toptitlepopup_KO.png) no-repeat;
	width: 474px;
	height: 55px;
}
#popup_container_text .toptitlepopup_vn
{
	background: url(images/toptitlepopup_vn.png) no-repeat;
	width: 474px;
	height: 55px;
}
#popup_container_text .closeAd
{
	float: right;
	margin-right: -15px;
	margin-top: -15px;
}
#popup_container_text .paddingleft
{
	padding-left: 13px;
}
#popup_container_text .linebg
{
	background: url(images/linebg.png) repeat-y;
	width: 461px;
}
#popup_container_text .message
{
	line-height: 19px;
	text-align: justify;
	padding: 7px 20px 7px 20px;
}
#popup_container_text .showAd
{
	float: right;
	padding-right: 12px;
	padding-bottom: 7px;
}
#popup_container_text .lineblue
{
	background: #223F59;
	height: 3px;
	margin-left: 2px;
	width: 453px;
	overflow: hidden;
}
#popup_container_text .linewhite
{
	background: #FCFCFC;
	height: 1px;
	margin-left: 2px;
	width: 453px;
	overflow: hidden;
}
#popup_container_text .bottomborder
{
	background: url(images/bottomborder.png) repeat-x;
	height: 6px;
	width: 461px;
}