﻿#footer
{
	height: 22px;
	border: 1px #c8c8c8 solid;
	background: url(../Images/bg_footer.jpg) repeat-x top;
	text-align: right;
	padding-right: 10px;
	line-height: 19px;
	font-family: Tahoma,Arial,helvetica,sans-serif;
	font-size: 11px;
}
html, body
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	cursor: default;
}

