﻿body
{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;	
	font-family:Tahoma,Arial,helvetica,sans-serif;
	
}
td
{
	padding-left: 2px;
	padding-right: 2px;
}
#clear
{
	clear: both;
	height: 10px;
}
#clear_top
{
	clear: both;
	height: 6px;
	width: 300px;
}
#banner_main
{
	height: 90px;
	margin-left: 5px;
	margin-right: 1px;
}

#privateMsgLnk
{
	white-space: nowrap;
	text-align: center;
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari and Chrome */
	border-radius: 3px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */	
}

#Popup_top
{
	color: #000000;
	background-color: #ffffde;
	position: absolute;
	width: 460px;
	min-height: 56px;
	z-index: 1;
	left: 560px;
	top: 2px;
	border: 1px solid #ae5f27;
	padding: 1px 1px 5px 1px;
	filter: alpha(opacity=95);
	-moz-opacity: 0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;	
	overflow: hidden;
}

#Popup_line
{
	float: left;
	height: 90px;
	width: 14px;
	background: repeat-x top #511900;
}

#Popup_contents
{
	
}

div.messageBlock
{
	font-size: 11px;
	font-weight: normal;
	line-height: 12px;
	text-align: left;
	background-color: #ffffde;
	margin-left: 20px;
	text-indent: 0px;
	color: #03C;	
	width: 440px;
	min-height: 48px;
	margin-bottom: 20px;
	padding-top: 2px;
	color: #222;
}

.Popup_textconts
{
	color: #ed2024;
	display: block;
	text-decoration: none;
	text-indent: 10px;
	border-bottom: dotted 1px #000000;
	padding: 3px 0px 7px 0px;
}

#logo
{
	height: 74px;
	width: 201px;
	float: left;
}
#logo2
{
	height: 74px;
	width: 201px;
	float: left;
}
#logo3
{
	height: 74px;
	width: 201px;
	float: left;
}
#logo4
{
	height: 74px;
	width: 201px;
	float: left;
}

#text_logo
{
	padding-left: 60px;
	color: #FFFFFF;
	padding-top: 19px;
	line-height: 16px;
	margin-left:3px;
}
#text_logo .adminAndSubAcc{color:Black; font-weight:bold; text-transform:uppercase; padding-top:5px}
#banner
{
	margin-left: 212px;
	height: 90px;
	text-align: left;
}
#button
{
	height: 57px;
	margin-right: 10px;
	background: url(../../_GlobalResources/Images/bg_button.jpg) repeat-x top;
	min-width: 750px;
}
#g_left
{
	width: 7px;
	height: 56px;
	float: left;
	background: url(../../_GlobalResources/Images/gLeft_button.jpg) no-repeat top;
}
#g_right
{
	width: 7px;
	height: 56px;
	float: right;
	background: url(../../_GlobalResources/Images/gRight_button.jpg) no-repeat top;
}
#button_main
{
	display: block;
	height: 29px;
	font-size: 11px;
	font-weight: bold;
	font-size: 11px;
	background: transparent url(../../_GlobalResources/Images/bgOFF.gif) repeat-x top left;
	font-family: arial,tahoma,verdana,helvetica,sans-serif;
}
#button_main li
{
	display: block;
	float: left;
}
#button_main li a
{
	display: block;
	float: left;
	color: #eeeeee;
	text-decoration: none;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 26px;
	height: 27px;
	background: transparent url(../../_GlobalResources/Images/bgDIVIDER.gif) no-repeat top right;
	margin-top: 1px;
}
#button_main li a:hover
{
	margin-top: 0px;
	height: 29px;
}
#button_main li a.active
{
	color: #000000;
	margin-top: 0px;
	height: 29px;
	background: transparent url(../../_GlobalResources/Images/bgON.gif) no-repeat top right;
}
#news_main
{
	height: 28px;
	color: #CC0000;
	width: auto;
	overflow: hidden;
}
#text_news
{
	height: 28px;
	margin-right: 28px;
	float: inherit;
	padding-right: 28px;
	line-height: 25px;
	color: #0853de;
	text-align: right;
}
#text_news a
{
	text-decoration: none;
}
#text_news_out
{
	background: url(../../_GlobalResources/Images/line_news.gif) no-repeat right;
}
#text_news_out:hover
{
	background: url(../../_GlobalResources/Images/line_newsOV.gif) no-repeat right;
}
#button_top
{
	line-height: 18px;
	padding-left: 5px;
}
a.b_top
{
	border: 1px #2c2c2c solid;
	background: url(../../_GlobalResources/Images/BGb_top.jpg);
	color: #FFFFFF;
	cursor: pointer;
	text-indent: 2;
	text-decoration: none;
	padding: 2px 4px 2px 4px;
}
a.b_top:hover
{
	color: #FF6600;
}
#button_left
{
	width: 200px;
	margin-left: 7px;
	margin-right: 2px;
}
#clock
{
	float: right;
	color: #FFF;
	padding: 8px 5px 0px 28px;
	font-weight: normal;
	background: url(../../_GlobalResources/Images/clock.png) no-repeat left 4px;
	height: 20px;
}

.langFlag
{
	width: 24px;
	height: 18px;
	padding-left: 30px;
}

.HeaderMenu
{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.langFlag_e
{
	background: url(../../_GlobalResources/Images/flag_e.png) no-repeat;
}

.langFlag_ct
{
	background: url(../../_GlobalResources/Images/flag_ct.png) no-repeat;
}

.langFlag_cs
{
	background: url(../../_GlobalResources/Images/flag_cs.png) no-repeat;
}

.langFlag_ko
{
	background: url(../../_GlobalResources/Images/flag_ko.png) no-repeat;
}

.langFlag_th
{
	background: url(../../_GlobalResources/Images/flag_th.png) no-repeat;
}

.langFlag_j
{
	background: url(../../_GlobalResources/Images/flag_j.png) no-repeat;
}

.langFlag_vi
{
	background: url(../../_GlobalResources/Images/flag_vi.png) no-repeat;
}

#logout{
	float:right;
	margin:4px -3px 0 0;	
	padding:4px 5px 0 29px;
	-moz-border-radius: 5px;
	height: 18px;
	-webkit-border-radius:5px;
    border-radius: 5px;
	border:#CCC 1px solid;
	background:url(../../_GlobalResources/Images/logout.png) 5px 2px no-repeat;
	behavior: url(border-radius-ie8.htc);
	font-weight:bold;
	text-decoration:none;
	color:#FFF;
	outline: none 0;
}
#logout:hover{
	color: #e8d46c;
}

#Help{
	float:right;
	margin:4px 5px 0 2px;
	padding:4px 5px 0 26px;
	height:18px;

	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari and Chrome */
	border-radius: 3px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 	*/

	border:#CCC 1px solid;
	background: url(../../_GlobalResources/Images/help.png) 5px 2px no-repeat;
	behavior: url(border-radius-ie8.htc);
	font-weight:bold;
	text-decoration:none;
	color:#FFF;
	outline: none 0;
}
#Help:hover{
	color: #e8d46c;
}

#language{
	height:32px;
	margin-right:10px;
	text-align:right;
	padding-right:5px;
	min-width:750px;
}

#language_box{	
	float:right;
	height:21px;
	vertical-align:bottom;
	margin-top:6px;
	margin-right:45px !important;
	margin-right:0px;
	padding:1px 5px 0 0;	
}

#standLine
{
	float: right;
	width: 8px;
	height: 26px;
	margin-top: 3px;		
	background: url(../../_GlobalResources/Images/splitter.png) no-repeat center;
}
#tooltip_box
{
	font-family:Tahoma,Arial,helvetica,sans-serif;
	top:2px; 
	left:203px;
	font-weight:normal;
	font-size:8pt;
	position:absolute;
	z-index:1000;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;	
}
#tooltip_box .left{float:left; background: url(../../_GlobalResources/Images/tooltip_left.png) no-repeat; width:15px; height:45px}
#tooltip_box .bg{float:left; background: url(../../_GlobalResources/Images/tooltip_bg.png) repeat-x;height:45px}
#tooltip_box .right{float:left; background: url(../../_GlobalResources/Images/tooltip_right.png) no-repeat; width:37px; height:45px}
#tooltip_box .normal{color:#BF0104;font-family:Tahoma,Arial,helvetica,sans-serif; line-height:14px}

#profileTooltip
{
	font-family:Tahoma,Arial,helvetica,sans-serif;
	top:2px; 
	left:203px;
	font-weight:normal;
	font-size:8pt;
	position:absolute;
	z-index:1000;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;	
}
#profileTooltip .left{float:left; background: url(Images/profileTooltip_left.png) no-repeat; width:15px; height:75px}
#profileTooltip .bg{float:left; background: url(Images/profileTooltip_bg.png) repeat-x;height:75px}
#profileTooltip .right{float:left; background: url(Images/profileTooltip_right.png) no-repeat; width:37px; height:75px}
#profileTooltip .normal{color:#BF0104;font-family:Tahoma,Arial,helvetica,sans-serif; line-height:14px}

.linkConfigNow:link, .linkConfigNow:visited{color: #006AB3 ;text-decoration: none; cursor:pointer;}
.linkConfigNow:hover{color:#CC000B;text-decoration: underline; cursor:pointer;text-decoration: none;}
.linkNickName:link, .linkNickName:visited{color: Black ;text-decoration: none; cursor:pointer;}
.linkNickName:hover{color:#CC000B;text-decoration: underline; cursor:pointer;text-decoration: none;}

.defaultUser
{
    position:absolute; 
    top:4px;  
    left: 10px; 
    z-index:1;
    
    display: block;
      height: 48px;
    width: 48px;
}