﻿.clearBlock
{
	clear: both;
}
.minWidthCustomer
{
	width: 845px;
}
.float_l
{
	float: left;
}
.pt3
{
	padding-top: 3px;
}
.pb3
{
	padding-bottom: 3px;
}
.pt7
{
	padding-top: 7px;
}
.hide
{
	display: none;
}
.nowrap
{
	white-space: nowrap;
}
.prewrap
{
	white-space: pre-wrap;
}
.customerInfo
{
	background-color: #F7F0E4;
	border-right: 1px solid #B7B7B7;
	float: left;
	min-width: 840px;
	padding: 0;
}
.textBoxInfo
{
	height: 18px;
	margin: 0;
	padding: 0;
	width: 120px;
}
.textBoxCredit
{
	text-align: right;
}
.textBoxComm
{
	width: 60px !important;
	margin: 0;
	padding: 0;
	height: 18px;
	text-align: right;
}
.customerInfoBlock1
{
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
	float: left;
	height: 22px;
	line-height: 22px;
	margin: 0 0 0 1px;
	padding: 2px 1px 1px;
	text-align: right;
	vertical-align: middle;
	width: 180px;
} 
.customerInfoBlock2
{
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
	float: left;
	height: 22px;
	line-height: 22px;
	margin: 0 0 0 1px;
	padding: 2px 1px 1px;
	text-align: left;
	vertical-align: middle;
	width: 335px;
}
.customerInfoBlock2NoBorderLeft
{
	border-top: 1px solid #B7B7B7;
	float: left;
	height: 22px;
	line-height: 22px;
	margin: 0 0 0 1px;
	padding: 2px 1px 1px;
	text-align: right;
	vertical-align: middle;
	width: 336px;
}
.customerInfoBlock3
{
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
	float: left;
	height: 22px;
	line-height: 22px;
	margin: 0 0 0 1px;
	padding: 2px 1px 1px;
	text-align: right;
	vertical-align: middle;
	width: 110px;
}
.customerInfoBlock4
{
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
	float: left;
	height: 22px;
	line-height: 22px;
	margin: 0 0 0 1px;
	padding: 2px 1px 1px;
	vertical-align: middle;
	width: 200px;
}
.customerInfoBlock5
{
	border-top: 1px solid #B7B7B7;
	border-left: 1px solid #B7B7B7;
	float: left;
	height: 22px;
	line-height: 22px;
	padding: 2px 1px 1px;
	vertical-align: middle;
	width: 418px;
}
.customerInfoBlock6
{
    font-weight: bold;
    text-align: center;
    float: left;
    width: 837px;
    padding: 2px;
}
.customerInfoBlock7
{
	border-top: 1px solid #B7B7B7;
	float: left;
	height: 22px;
	line-height: 22px;
	padding: 2px 1px 1px;
    text-align: right;
	width: 418px;
}
.customerInfoBlock4NoBorderLeft
{
	border-top: 1px solid #B7B7B7;
	float: left;
	height: 22px;
	line-height: 22px;
	margin: 0 0 0 1px;
	padding: 2px 1px 1px;
	vertical-align: middle;
	width: 201px;
}

.customerInfoViewBlock1
{
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
	float: left;
	height: 22px;
	line-height: 22px;
	margin: 0 0 0 1px;
	padding: 2px 1px 1px;
	text-align: right;
	vertical-align: middle;
	width: 143px;
}
.customerInfoViewBlock2
{
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
	float: left;
	height: 22px;
	line-height: 22px;
	margin: 0 0 0 1px;
	padding: 2px 1px 1px 2px;
	text-align: left;
	vertical-align: middle;
	width: 269px;
}
.customerInfoViewBlock2NoBorderLeft
{
	border-top: 1px solid #B7B7B7;
	float: left;
	height: 22px;
	line-height: 22px;
	margin: 0 0 0 1px;
	padding: 2px 1px 1px 2px;
	text-align: right;
	vertical-align: middle;
	width: 270px;
}
.commission
{
	background-color: #F7F0E4;
	border: 1px solid #B7B7B7;
	float: left;
	min-width: 841px;
	width: 841px;
}
.commissionHeader
{
	color: Black;
	font-weight: bold;
}
.commissionBlock1
{
	border-top: 1px solid #B7B7B7;
	float: left;
	height: 22px;
	text-align: center;
	vertical-align: middle;
	width: 263px;
	padding: 2px 1px 1px;
	text-align: right;
}
.commissionBlock2
{
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
	float: left;
	height: 22px;
	text-align: center;
	vertical-align: middle;
	width: 285px;
	padding: 2px 1px 1px;
}
.commissionViewBlock1
{
	border-top: 1px solid #B7B7B7;
	float: left;
	height: 22px;
	text-align: center;
	vertical-align: middle;
	width: 230px;
	padding: 2px 1px 1px;
	text-align: right;
}
.commissionViewBlock2
{
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
	float: left;
	height: 22px;
	text-align: center;
	vertical-align: middle;
	width: 200px;
	padding: 2px 1px 1px;
}
.commissionGroup
{
	float: left;
	margin-left: 2px;
	padding: 2px 2px 2px 8px;
	white-space: nowrap;
}
.groupCom
{
	text-align: right;
	padding-right: 5px;
}
.widthGroup
{
	width: 60px;
}
.headerTab
{
	background: url("../../_GlobalResources/Images/bg_header02.jpg") repeat-x scroll center top #8C897E;
	clear: both;
	color: #FFFFFF;
	font-size: 12px;
	height: 22px;
	text-align: center;
	text-indent: 5px;
	width: 842px;
}
.transferCondition
{
	background-color: #F7F0E4;
	border-bottom: 1px solid #B7B7B7;
	border-left: 1px solid #B7B7B7;
	border-right: 1px solid #B7B7B7;
	float: left;
	min-width: 840px;
}
.headerPositionTaking
{
	background: url("../../_GlobalResources/Images/bg_header02.jpg") repeat-x scroll center top #8C897E;
	clear: both;
	color: #FFFFFF;
	font-size: 12px;
	height: 22px;
	min-width: 844px;
	text-align: center;
	text-indent: 5px;
	width: 838px;
}
.positionTaking
{
	border-bottom: 1px solid #B7B7B7;
	border-left: 1px solid #B7B7B7;
	border-right: 1px solid #B7B7B7;
	float: left;
	min-width: 838px;
	padding: 2px;
}
.line
{
	background-color: #B7B7B7;
	height: 1px;
	margin: 2px 0;
	min-width: 842px;
}
.headerBetSetting
{
	background: url("../../_GlobalResources/Images/bg_header02.jpg") repeat-x scroll center top #8C897E;
	clear: both;
	color: #FFFFFF;
	font-size: 12px;
	height: 22px;
	text-align: center;
	text-indent: 5px;
	width: 843px;
}
.PTSportLabel2
{
	border-left: 1px solid #838182;
	border-top: 0 none;
}
.PTSportLabel
{
	border-left: 1px solid #838182;
	border-top: 0 none;
}
.PTSport
{
	background: url("ptHeader.png") repeat-x scroll center top;
	border-bottom: 1px solid #B7B7B7;
	border-right: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.PTSportEditCopied
{
}
.PTGroup
{
	background-color: #F7F0E4;
}
.PTGroup2
{
	background-color: #FAF9EE;
}
.BetTypeSelect, .BetTypeLabel, .BetTypeCheckbox
{
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.BetTypeHeader
{
	background-color: #FFEFDE;
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.BetTypeHeader2
{
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.BetTypeHeaderActive
{
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.BetTypeInactive
{
	background-color: #DDDDDD !important;
}
.BetTypeLabel
{
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.GroupLabel
{
	background-color: #FFEFDE;
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.GroupLabel2
{
	background-color: #FFEFDE;
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.GroupSetLabel
{
	background-color: #FFEFDE;
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
	min-width: 60px;
}
.BettingLimit
{
	background-color: #F7F0E4;
	border-bottom: 1px solid #B7B7B7;
	border-right: 1px solid #B7B7B7;
}
.BettingLimit4
{
	background-color: #F7F0E4;
	border-bottom: 1px solid #B7B7B7;
	border-right: 1px solid #B7B7B7;
}
.BettingLimitTextBox
{
	width: 110px !important;
}
.BettingLimitTextBox4
{
	width: 186px !important;
}
.BettingLimitTextBox9
{
	width: 90px !important;
}
.BettingLimitTextBox5
{
	width: 137px !important;
}
.BettingLimitItem
{
	background-color: #F7F0E4;
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.BettingLimitItem4
{
	background-color: #F7F0E4;
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.BettingLimitItem5
{
	background-color: #F7F0E4;
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.BettingLimitItem9
{
	background-color: #F7F0E4;
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.BettingLimitItem92
{
	background-color: #F7F0E4;
	border-left: 0px;
	border-top: 1px solid #B7B7B7;
	min-width: 76px;
}
.BettingLimitItem2
{
	background-color: #F7F0E4;
	border-top: 1px solid #B7B7B7;
}
.BettingLimitHeader
{
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.BettingLimitHeader2
{
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.BettingLimitHeaderCopied
{
	background-position: 100px 2px;
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.BettingLimitHeaderCopiedActive
{
	background-position: 100px 2px;
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.BettingLimitHeaderTop
{
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.BettingLimitHeaderTop9
{
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.BettingLimitHeaderTop4
{
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.BettingLimitHeaderTop5
{
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.BettingLimitLabel
{
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.BettingLimitLabel1
{
	border-left: 1px solid #B7B7B7;
	border-top: 1px solid #B7B7B7;
}
.PTBoxRightBorder .BetTypeHeader, .PTBoxRightBorder .BetTypeSelect, .PTBoxRightBorder .BetTypeLabel {
    border-right: 1px solid #B7B7B7;
}
.BetTypeBottomBorder {
    border-bottom: 1px solid #B7B7B7;
    height: 22px !important;
}

.PTGroupSet2 {
    background-color: #FAF9EE!important;
    clear: both;
    margin: 0;
    overflow: auto;
    padding: 0;
}