﻿/*
*	Description: SearchAndCopy pages
*
*	Last revision:
*	$Revision: 4 $
*	$Date: 2012-02-01 $
*	$LastChangedBy: jeff.nguyen $
*/
#tblHeader
{
	border: 1px solid #CCCCCC;
	border-radius: 0px;
	background-color: #F7F0E4;
	width: 707px;
	height: 53px;
}

#tblHeader .cycleEnable
{
	width: 25px;
	height: 25px;
	color: White;
	background: url("../Resources/Images/red-dot.png");
	text-align: center;
}

#tblHeader .cycleDisable
{
	width: 25px;
	height: 25px;
	text-align: center;
	background: url("../Resources/Images/circle.png");
}

#tblHeader P
{
	padding-top: 5px;
}

#tblHeader .line1
{
	width: 230px;
}

#tblHeader .line2
{
	width: 190px;
}

#tblHeader .line3
{
	width: 190px;
}

#tblHeader tbody tr .w
{
	width: 25px;
}

#tblSettingSB
{
	width: 100%;
	border-radius: 0px;
}

#tblSettingSB tbody tr
{
	height: 20px;
}

#tblSettingSB tbody td
{
	width: 50%;
	background-color: #F7F0E4;
	padding: 0px 10px 0px 10px;
}

.rb
{
	font-weight: bold;
	text-align: right;
}

#tblTxtSearch
{
	height: 20px;
	border: 0px;
}

#tblVirtualSports td
{
    background-color: #F7F0E4;
    padding: 0px 10px;
    height: 20px;
    width: 50%;
}

#tblSettingSB_M
{
	width: 100%;
	border-radius: 0px;
}

#tblSettingSB_M tbody tr
{
	height: 20px;
}

#tblSettingSB_M tbody td
{
	background-color: #F7F0E4;
}

#tblSettingSBComm_M
{
	background-color: #B7B7B7;
}

#tblSettingSBComm_M .Comm
{
	width: 235px;
	background-color: #F7F0E4;
	padding: 0px 10px 0px 10px;
}

#tblSettingSB_M .PT_c1
{
	width: 25%;
	text-align: right;
	font-weight: bold;
	padding-right: 10px;
}

#tblSettingSB_M .PT_c2
{
	width: 25%;
	text-align: right;
	padding-right: 10px;
}

#tblSettingSB_M .PT_c3
{
	width: 25%;
	text-align: right;
	padding-right: 10px;
}

#tblSettingSB_M .PT_c4
{
	width: 25%;
	text-align: left;
	padding-left: 10px;
}

#tblSettingCS
{
	width: 100%;
	border-radius: 0px;
}

#tblSettingCS .header
{
	width: 170px;
	text-align: center;
}

#tblSettingCS tbody tr
{
	height: 20px;
}

#tblSettingCS .c1
{
	width: 127px;
}

#tblSettingCS .c2
{
	width: 235px;
}

#tblSettingCS .c3
{
	width: 350px;
}
#tblSettingCS tbody td
{
	background-color: #F7F0E4;
	padding: 0px 10px 0px 10px;
}

#tblInfo
{
	width: 100%;
}

#tblInfo tbody tr
{
	height: 20px;
}

#tblInfo tbody td
{
	background-color: #F7F0E4;
	padding: 1px 2px 1px 2px;
	white-space: nowrap;
}

#tblInfo tbody td .minmaxbet
{
	color: #808080;
	font-weight: bold;
}

#tblInfo .w
{
	width: 250px;
}

#tblInfo .r
{
	width: 100px;
}

#tblInfo .inputWidth
{
	height: 16px;
	border: 1px solid #BDC7D8;
}

#tblInfo .inputWidth:focus
{
	box-shadow: 0 0 1px 1px #FF9933;
}

#Number1, #Number2, #Number3
{
	margin-top: 0px;
}

h2
{
	padding: 0px 5px;
	border-bottom: solid 1px #CCCCCC;
	margin-bottom: 20px;
	color: #F78141;
	font-size: 15px;
	font-weight: normal;
}

#button_hr
{
	padding-top: 7px;
	border-bottom: 0px;
}

#header_main
{
	height: 24px;
	line-height: 23px;
	margin-top: 5px;
}

#bdHeader
{
	padding-bottom: 0px;
}

#bdSearch
{
	padding-top: 0px;
}

.buttonReView
{
	float: left;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	margin-top: 10px;
	text-align: center;
}

.buttonReView a
{
	background: url("../../../_GlobalResources/Images/b_left.gif") no-repeat scroll left top transparent;
	float: left;
	font-size: 12px;
	margin-right: 2px;
	padding-left: 6px;
	text-decoration: none;
	width: 64px;
}

.buttonReView a .sbuttonReView
{
	background: url("../../../_GlobalResources/Images/b_right.gif") no-repeat scroll right top transparent;
	color: #333333;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 17px 4px 5px;
	width: 64px;
}

.buttonReView a:hover .sbuttonReView
{
	background-position: 100% -22px;
	color: #000000;
	cursor: pointer;
}

.buttonNext
{
	float: left;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	margin-top: 10px;
	text-align: center;
	margin-left: 10px;
}

.buttonNext a
{
	background: url("../../../_GlobalResources/Images/b_left.gif") no-repeat scroll left top transparent;
	float: left;
	font-size: 12px;
	margin-right: 2px;
	padding-left: 6px;
	text-decoration: none;
	width: 64px;
}

.buttonNext a .sbuttonNext
{
	background: url("../../../_GlobalResources/Images/b_right.gif") no-repeat scroll right top transparent;
	color: #333333;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 17px 4px 5px;
	width: 64px;
}

.buttonNext a:hover .sbuttonNext
{
	background-position: 100% -22px;
	color: #000000;
	cursor: pointer;
}

.warning
{
	margin-top: 20px;
}

#search
{
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	width: 545px;
	padding-left: 50px;
	background-color: #F7F0E4;
	height: 20px;
}

.text_username
{
	padding-right: 10px;
	font-size: 13px;
	position: relative;
	top: 1px;
}

#search .text_italic:focus, #search .text_normal:focus
{
	box-shadow: 0 0 1px 1px #FF9933;
	background-color: #ffffff;
}

#search .text_italic
{
	width: 145px;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid #BDC7D8; /*border-radius: 15px;*/
	padding-left: 2px;
	height: 15px;
}

#search .text_normal
{
	width: 145px;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid #BDC7D8; /*border-radius: 15px;*/
	padding-left: 2px;
	height: 15px;
}

.null
{
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	height: 20px;
	background-color: #F7F0E4;
}

#tblMain
{
	width: 707px;
	padding: 0px;
	background-color: #B7B7B7;
}
#tblMain tbody tr
{
}
#tblHeadMain
{
	border-radius: 0px;
	background-color: #B7B7B7;
}

#tblHeadMain tbody tr
{
	background-color: #F7F0E4;
	height: 40px;
}
#tblHeadMain tbody tr td
{
	padding: 0px 5px 0px 5px;
}
.memberSettingInfo
{
	background: url("../../../_GlobalResources/Images/bg_header02.jpg") repeat-x scroll center top #6A6969;
	color: #FFFFFF;
	font-size: 12px !important;
	font-weight: normal !important;
	height: 18px;
	width: 697px;
	text-align: left;
	padding-left: 10px;
	padding-top: 2px;
}

.Header
{
	background: url("../../../_GlobalResources/Images/bg_header02.jpg") repeat-x scroll center top #6A6969;
	color: #FFFFFF;
	font-size: 12px !important;
	font-weight: normal !important;
	height: 22px;
	text-align: center;
}

.Detail
{
	background-color: #F7F0E4;
	padding: 1px;
}

.button
{
	background: -moz-linear-gradient( 		top, 		#fff3db 0%, 		#ffc821 50%, 		#e48850);
	background: -webkit-gradient( 		linear, left top, left bottom,  		from(#fff3db), 		color-stop(0.25, #ffc821), 		to(#e48850));
	color: #333333;
	display: block;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 0px 4px 0px;
	width: 110px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #cccccc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff3db', endColorstr='#e48850');
	background: -o-linear-gradient(top, #fff3db, #e48850);
}

.buttonDisable
{
	background: -moz-linear-gradient( 		top, 		#fcfcfc 0%, 		#7e7f80);
	background: -webkit-gradient( 		linear, left top, left bottom,  		from(#fcfcfc), 		to(#7e7f80));
	color: #333333;
	display: block;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 0px 4px 0px;
	width: 110px;
	text-align: center;
	border-radius: 5px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#7e7f80');
	background: -o-linear-gradient(top, #fcfcfc, #7e7f80);
}

.button:hover
{
	background-position: 100% -22px;
	color: #000000;
	cursor: pointer;
}

.buttonDisable:hover
{
	background-position: 100% -22px;
	color: #900;
	cursor: pointer;
}

.showMsg
{
	background: url("../Resources/Images/warning_icon.gif") no-repeat scroll left center transparent;
	color: #DF2267;
}

#MessageWarning
{
	padding-left: 20px;
	margin-left: 10px;
}

#lblRacingTitle
{
	color: #9D1B19;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.highlight
{
	width: 15%;
	text-align: right;
	font-weight: bold;
}

.cmemberSettingInfo
{
	text-align: center;
}

.Hide
{
	display: none;
}

.WaringMessage
{
	background: url("../Resources/Images/warning_icon.gif") no-repeat scroll left center transparent;
	display: inline-block;
	height: 15px;
	padding: 0px 0px 0px 20px;
	margin-left: 30px;
	margin-bottom: 15px;
	color: #DF2267;
}

.infoAllSetting
{
	background: url("../../../_GlobalResources/Images/more.gif") no-repeat scroll left center transparent;
	color: #90979A;
	font-weight: bold;
	margin-left: 24px;
	padding-left: 18px;
}

.infoClickPreview
{
	background: url("../../../_GlobalResources/Images/more.gif") no-repeat scroll left center transparent;
	color: #90979A;
	font-weight: bold;
	margin-left: 24px;
	padding-left: 18px;
	padding-top: 10px;
	margin-bottom: 10px;
}

.infoClickPreviewNoLC
{
	background: url("../../../_GlobalResources/Images/more.gif") no-repeat scroll left center transparent;
	color: #90979A;
	font-weight: bold;
	margin-left: 24px;
	padding-left: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.infoClickSkip
{
	background: url("../../../_GlobalResources/Images/more.gif") no-repeat scroll left center transparent;
	color: #90979A;
	font-weight: bold;
	margin-left: 24px;
	padding-left: 18px;
	margin-bottom: 10px;
}

.numberGameComm
{
	width: 20% !important;
}

.numberGameCommValue
{
	width: 12% !important;
}

#txtCredit, #txtMaxCredit
{
	text-align: right;	
}