﻿#button_hr
{
    font-family: Tahoma,Geneva,sans-serif;
    width: auto;
    text-align: left;
    height: 20px;
    padding-top: 8px;
    padding-left: 2px;
    border-bottom: solid 1px #bbb;
}
#tab_hr
{
    font-size: 11px;
    font-weight: bold;
    float: left;
    line-height: 20px;
    width: 520px;
}
#tab_hr ul
{
    font-size: 11px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#tab_hr li
{
    font-size: 11px;
    display: inline;
}
#tab_hr a
{
    font-size: 11px;
    float: left;
    background: url(../Images/left_button.jpg) no-repeat left top;
    margin: 0;
    margin-right: 4px;
    padding-left: 5px;
    text-decoration: none;
}
#tab_hr a span
{
    font-size: 11px;
    font-weight: bold;
    color: #FFF;
    float: left;
    display: block;
    background: url(../Images/right_button.jpg) no-repeat right top;
    padding: 0px 15px 0px 10px;
}
#tab_hr a span
{
    float: none;
}
#tab_hr a:hover span
{
    color: #900;
}
#tab_hr .current a
{
    background-position: 0 -20px;
}
#tab_hr .current a span
{
    background-position: 100% -20px;
    color: #000;
}
#tab_hr a:hover
{
    background-position: 0% -20px;
}
#tab_hr a:hover span
{
    background-position: 100% -20px;
}