﻿
#divTransferMulti
{
	display: none;
	position: absolute;	
	white-space: nowrap;
	font-weight: normal;
	border-radius: 3px 3px 3px 3px;
	border: 1px solid #8F8272;
	box-shadow: 5px 5px 2px #999;
	/* For Internet Explorer 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EDE8E4, endColorstr=#FFFFFFFF);
    /* For Internet Explorer 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EDE8E4, endColorstr=#FFFFFFFF)"; 
	background: -moz-linear-gradient(top, #EDE8E4, #fff);
	background: -webkit-gradient(linear, center top, center bottom, from(#EDE8E4), to(#fff));
	padding: 5px;
	line-height: 20px;
}
.none
{
	display: none;
}

#divTransferMulti div
{
	line-height: 20px;
	border: 1px solid transparent;	

}
#divTransferMulti div:hover
{
	line-height: 20px;
	border: 1px solid #B8B9BD;
	border-radius: 3px 3px 3px 3px;
	background: -moz-linear-gradient(top, #E4D2BE, #fff);
	background: -webkit-gradient(linear, center bottom, center top, from(#E4D2BE), to(#fff));
	
}

#divTransferMulti a.Enable:hover
{
	color: #FF6600;
	text-decoration: none;	
	padding-left: 30px;
	display:block ;

}

a.Enable:link, a.Enable:visited, a.Enable:active
{
	color: #1E1EEB;
	text-decoration: none;	
	padding-left: 30px;
	display:block ;
	background: url("Images/icon/moneytransfer.png") no-repeat scroll left center transparent;

}

a.Disable:link, a.Disable:visited, a.Disable:active
{
	cursor: default;
	background-color: #CCCCCC; 
	color: #707070;
	text-decoration: none;	
	padding-left: 30px;
	display:block ;
	background: url("Images/icon/moneytransfer_dis.png") no-repeat scroll left center transparent;

}