    
/*========= RESET STYLE TRĂŒNH DUYá»†T ========*/

/*========= Ná»˜I DUNG ========*/

#wrapper{ margin:0 auto;}
h1{margin:50px 0px; width: 450px; color:#DB2E66;}

/*========= Äá»NH Dáº NG FORM ========*/
#form{
	margin:100px;
	width: 350px;
	outline: 5px solid #ccc;
	border: 1px solid #ccc;
	padding: 10px;
	margin:0 auto;
}
#form label{
	font:bold 11px arial;
	color: #565656;
	padding-left: 1px;
}
#form label.require{color: #f00;}
#form input[type="text"]{
	height: 25px;
	margin-bottom: 8px;
	padding: 5px;
	font: 12px arial;
	color: #0060a3;
}
#form input[type="password"]{
	height: 25px;
	margin-bottom: 8px;
	padding: 5px;
	font: 12px arial;
	color: #0060a3;
}
#form textarea{
	width: 340px;
	height: 80px;
	resize: none;
	margin: 0 0 8px 1px;
	padding: 5px;
	font: 12px arial;
	color: #0060a3;
}
#form img{
	margin-bottom: 8px;
}
#form input[type="submit"]{
	background-color: #0064aa;
	border: none;
	color: #fff;
	padding: 5px 8px;
	cursor: pointer;
	font:bold 12px arial;
}
/*========= THĂ”NG BĂO ========*/
.error{
	border: 2px solid #DB2E66;
}
.captcha_status{
	width: 360px;
	padding: 10px; margin:10px auto;
	font: 14px arial;
	color: #87022e;
	text-align:center;
	display: none;
	border:2px solid #DB2E66;
}
.captcha_status_error{
	color: #87022e;                
}