﻿.tr_paging
{
	background-color: #faf9ee;
}


.pagination
{
	width: auto;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	font-weight: bold;	
	text-align:center;	
	line-height:30px;
}

.pagination span.page-sep
{
	display: none;
}

li.pagination
{
	margin-top: 0;
}

.pagination span strong
{
	background-color: #eee;
	border: 1px solid #aaa;
	color: Blue;
	margin: 0 1px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	width: 15px;
	font-weight: bold;
	
}

.pagination span a
{
	font-weight: normal;
	text-decoration: none;
	color: #000;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0 1px;
	background-color: #eee;
	border: 1px solid #aaa;
	font-size: 1.0em;
	width: 15px;
	font-weight: bold;
	
}

.pagination span a:hover
{
	background-color: #eee;
	border: 1px solid #aaa;
	color: #F00;
	margin: 0 1px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	width: 15px;
	font-weight: bold;
	
}

.pagination img
{
	vertical-align: middle;
}

.row .pagination
{
	display: block;
	float: right;
	width: auto;
	margin-top: 0;
	padding: 1px 0 1px 15px;
	font-size: 0.9em;
	background: none 0 50% no-repeat;
}

.row .pagination span a, li.pagination span a
{
	background-color: #FFF;
}

.row .pagination span a:hover, li.pagination span a:hover
{
	background-color: #d2d2d2;
}

a.paging:link
{
	color: #0c67a8;
	text-decoration: none;
}

a.paging:visited
{
	color: #0c67a8;
	text-decoration: none;
}

a.paging:hover
{
	color: #F60;
	text-decoration: none;
}

.vbmenu_popup
{
	background-color: White;
	z-index: 9999;
}