﻿/*******************************************/
/* Common */
/*******************************************/
/*******************************************/
/* Buttons */
/*******************************************/
/*******************************************/
/* Icons */
/*******************************************/
/*******************************************/
/* Table */
/*******************************************/
/*******************************************/
/* Popup */
/*******************************************/
/*******************************************/
/* Tooltip */
/*******************************************/
/*******************************************/
/* Tab */
/*******************************************/
/*******************************************/
/* Dropdown */
/*******************************************/
/*******************************************/
/* Message */
/*******************************************/
/*******************************************/
/* Note */
/*******************************************/
/*******************************************/
/* PT setting */
/*******************************************/
/*******************************************/
/* Paging */
/*******************************************/
/*******************************************/
/* Effect of dropdownlist */
/*******************************************/
/*******************************************/
/* Effect of texbox */
/*******************************************/
/*******************************************/
/* Effect of button */
/*******************************************/
@font-face {
  font-family: Roboto;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/fonts/Roboto/roboto-regular-webfont.ttf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: Roboto;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/fonts/Roboto/roboto-medium-webfont.ttf);
  font-weight: bold; }

@font-face {
  font-family: 'Iconalpha';
  src: url("../Fonts/Iconalpha/fonts/Iconalpha.eot?o3vrsi");
  src: url("../Fonts/Iconalpha/fonts/Iconalpha.eot?o3vrsi#iefix") format("embedded-opentype"), url("../Fonts/Iconalpha/fonts/Iconalpha.ttf?o3vrsi") format("truetype"), url("../Fonts/Iconalpha/fonts/Iconalpha.woff?o3vrsi") format("woff"), url("../Fonts/Iconalpha/fonts/Iconalpha.svg?o3vrsi#Iconalpha") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  background: none;
  color: #333;
  cursor: default;
  font-family: Roboto, Arial, Tahoma,helvetica,sans-serif;
  margin: 0;
  text-align: left; }

::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px; }

::-webkit-scrollbar-button {
  height: 0;
  width: 0; }

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px; }

::-webkit-scrollbar:vertical {
  width: 11px; }

::-webkit-scrollbar:horizontal {
  height: 11px; }

::-webkit-scrollbar-track:horizontal {
  border-width: 4px 0 0; }

::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-track:horizontal:hover {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1); }

::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px 0 0 rgba(0, 0, 0, 0.07); }

::-webkit-scrollbar-track:horizontal:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.14), inset 0 -1px 0 rgba(0, 0, 0, 0.07); }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border: solid transparent;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07); }

::-webkit-scrollbar-thumb:horizontal {
  border-width: 6px 1px 1px;
  padding: 0 0 0 100px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.07); }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25); }

::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35); }

::-webkit-scrollbar-corner {
  background: transparent; }

body::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
  background-color: #f5f5f5;
  border: solid #fff;
  border-width: 0 0 0 3px;
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14), inset -1px 0 0 rgba(0, 0, 0, 0.07); }

body::-webkit-scrollbar-track-piece {
  border-width: 3px 0 0;
  box-shadow: none; }

body::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 1px; }

body::-webkit-scrollbar-thumb:horizontal {
  border-width: 1px 1px 1px; }

body::-webkit-scrollbar-corner {
  background-clip: padding-box;
  background-color: #f5f5f5;
  border: solid #fff;
  border-width: 3px 0 0 3px;
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.14);
  -khtml-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.14);
  -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.14);
  -o-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.14); }

body {
  background: none;
  font-size: 12px;
  margin: 0;
  padding: 2px 16px 8px 8px; }

.hidden {
  display: none; }

.nowrap {
  white-space: nowrap; }

.l {
  text-align: left; }

.r {
  text-align: right; }

.c {
  text-align: center; }

.b {
  font-weight: 700 !important; }

.weight-normal {
  font-weight: normal; }

.bold {
  font-weight: bold !important; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

a:link {
  color: #045ace;
  text-decoration: none; }

input, select, button {
  font-size: inherit;
  font-family: inherit;
  outline: none; }

input[type=text], input[type=password] {
  width: 120px;
  height: 28px;
  line-height: 28px;
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 8px;
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  -khtml-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

button[disabled]:active, button[disabled],
input[type="reset"][disabled]:active,
input[type="reset"][disabled],
input[type="button"][disabled]:active,
input[type="button"][disabled],
input[type="submit"][disabled]:active,
input[type="submit"][disabled] {
  opacity: 0.6;
  filter: alpha(opacity=60);
  /* For IE8 and earlier */
  color: #000;
  cursor: pointer; }

select {
  border: none;
  height: 28px;
  margin-right: 7px;
  padding: 4px 8px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  -khtml-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }
  select option {
    padding: 4px; }
  select#sel_PagingTop {
    margin-left: 4px; }

input[type=button], .btn, input[type=button]#dSubmit, input[type=button].btnSubmit,
input[type=submit]#dSubmit, input[type=submit].btnSubmit, .buttonSubmit {
  border: none;
  cursor: pointer;
  height: 28px;
  outline: none;
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -khtml-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

input[type=button], .btn {
  background-color: #e1e1e1;
  color: #212121; }
  input[type=button]:hover, .btn:hover {
    color: #212121;
    background-color: #d4d4d4; }
  input[type=button].btn-cancel, .btn.btn-cancel {
    background-color: #909090;
    color: #fff; }
    input[type=button].btn-cancel:hover, input[type=button].btn-cancel:active, input[type=button].btn-cancel:focus, .btn.btn-cancel:hover, .btn.btn-cancel:active, .btn.btn-cancel:focus {
      background-color: #838383; }
  input[type=button].btn-refresh, .btn.btn-refresh {
    background-color: #1bac69;
    color: #fff; }
    input[type=button].btn-refresh:hover, input[type=button].btn-refresh:active, input[type=button].btn-refresh:focus, .btn.btn-refresh:hover, .btn.btn-refresh:active, .btn.btn-refresh:focus {
      background-color: #18965c; }

input[type=button]#dSubmit, input[type=button].btnSubmit,
input[type=submit]#dSubmit, input[type=submit].btnSubmit, .buttonSubmit {
  background: #0b599c;
  color: #fff; }
  input[type=button]#dSubmit:hover, input[type=button]#dSubmit:active, input[type=button]#dSubmit:focus, input[type=button].btnSubmit:hover, input[type=button].btnSubmit:active, input[type=button].btnSubmit:focus,
  input[type=submit]#dSubmit:hover,
  input[type=submit]#dSubmit:active,
  input[type=submit]#dSubmit:focus, input[type=submit].btnSubmit:hover, input[type=submit].btnSubmit:active, input[type=submit].btnSubmit:focus, .buttonSubmit:hover, .buttonSubmit:active, .buttonSubmit:focus {
    background-color: #094b84; }

input[type=reset] {
  background-color: #F6731B;
  color: #fff;
  outline: none; }
  input[type=reset]:hover {
    color: #fff;
    background-color: #ee6509; }

.editBtn {
  background: url(../Images/edit.gif) repeat-x top;
  border: solid 0 #000;
  cursor: pointer;
  height: 17px;
  width: 17px; }

.editBtnDisabled {
  background: url(../Images/edit_disabled.gif) repeat-x top;
  border: solid 0 #000;
  cursor: pointer;
  height: 17px;
  width: 17px; }

.viewBtn {
  background: url(../Images/view_icon.gif) repeat-x top;
  border: solid 0 #000;
  cursor: pointer;
  height: 17px;
  width: 17px; }

.viewMenuBtn {
  background: url(../Images/sticky-arrow.png) repeat-x top;
  border: solid 0 #000;
  cursor: pointer;
  height: 17px;
  width: 17px; }

.disabledBtn {
  background: url(../Images/disable_icon.gif) repeat-x top;
  border: solid 0 #000;
  cursor: pointer;
  height: 17px;
  width: 17px; }

.syncBtn {
  background: url(../Images/sync.gif) repeat-x top;
  border: solid 0 #000;
  cursor: pointer;
  height: 17px;
  width: 17px; }

/*************************************/
/* Table */
/*************************************/
table {
  border-collapse: collapse; }

.tblRpt {
  background-color: #fff; }
  .tblRpt thead tr th, .tblRpt tr th {
    font-weight: normal; }
  .tblRpt tr td, .tblRpt thead tr th, .tblRpt tr th {
    border: 1px solid #dfdfdf;
    height: 28px;
    padding: 2px 8px;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
  .tblRpt tr.RptFooter {
    background-color: #7f3d1d;
    color: #fff;
    font-weight: 700; }

.tblRpt td, .tblPop td {
  line-height: 22px; }

.RptSubTitle {
  background-color: #ffefde; }

.RptTitle {
  text-align: center; }

.RptHeader {
  font-weight: 400;
  text-align: center; }
  .RptHeader td, .RptHeader th {
    background-color: #666;
    color: #fff; }

.RptHeader02 {
  font-weight: 400;
  text-align: center; }
  .RptHeader02 td, .RptHeader02 th {
    background-color: #3f3f3f;
    color: #fff; }

.RptHeader01 {
  background: url(../Images/bg_header04.jpg) repeat-x top;
  background-color: #e8e8e8;
  font-weight: 700;
  height: 22px;
  text-align: center; }

.text-red {
  color: #B50000; }

.text-green {
  color: #18910b; }

.w-order {
  color: #333;
  font-weight: 400;
  text-align: right;
  width: 20px; }

.bl_time {
  color: #434343;
  font-size: 8pt !important;
  font-weight: 400;
  text-align: center; }

.bg_white {
  background-color: #fff; }

.bg_eb {
  background-color: #F7F0E4; }

.bg_eb2 {
  background-color: #f7f0e4; }

.MaskLoadingDiv {
  background: url(../Images/loader3.gif); }

#page_main {
  overflow-x: visible;
  overflow-y: visible;
  padding-bottom: 15px;
  padding-top: 7px; }

#header_main {
  color: #9d1c1c;
  font-weight: 700;
  height: 24px;
  line-height: 18px;
  min-width: 650px;
  text-transform: uppercase;
  border-bottom: 1px solid #cecece; }
  #header_main.titleWinlossMaster {
    width: 765px; }
  #header_main .changeview {
    color: #045ace;
    text-decoration: none;
    text-transform: capitalize;
    margin-left: 12px; }
    #header_main .changeview:hover {
      color: #F60; }

.positive {
  color: #036;
  font-weight: 700; }

.negative {
  color: #B50000;
  font-weight: 700; }

.iplink {
  color: #045ace;
  text-decoration: none; }

.iplink:hover {
  color: #F60;
  text-decoration: none; }

.ipnolink {
  text-decoration: none; }

.firstCol {
  background-color: #D8FBE5;
  color: #FF5A00;
  text-transform: uppercase; }

#reportFilter input[type='checkbox'] {
  position: relative;
  top: 2px; }

#reportFilter + .warning ul {
  margin-top: 0; }

.warning ul {
  color: #333;
  list-style: none;
  margin: 16px 0 0;
  padding-left: 2px; }
  .warning ul li {
    background: url(../Images/more.gif) no-repeat left;
    padding-left: 10px; }

.header_popup {
  background: url(../Images/icon_pop.jpg) no-repeat left;
  color: #862626;
  font-size: 11px;
  font-weight: 700;
  line-height: 25px;
  padding-left: 20px; }

div.loading {
  background: url(../Images/ajax-loader.gif) no-repeat scroll center top transparent;
  display: block;
  height: 23px;
  opacity: 1;
  width: 23px; }

#loading {
  height: 24px;
  position: relative;
  top: 5px;
  width: 24px; }

.style {
  cursor: pointer; }

.divEdit {
  background: url(../Images/edit.gif) no-repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 17px;
  width: 17px; }

.loading1 {
  background: url(../Images/ajax-loader.gif) no-repeat top;
  display: block;
  height: 32px;
  width: 32px; }

.loading2 {
  background-image: url(../MemberInfo/P2P/Images/loading.gif);
  background-repeat: no-repeat;
  background-position: center center; }

div.divBoxRight {
  float: right;
  padding-right: 4px;
  margin-top: 4px; }

/*************************************************/
/* Popup */
/*************************************************/
.AGEWnd {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-collapse: collapse;
  margin: 0;
  padding: 0 16px 16px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  -khtml-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.2); }

.AGEWndMask {
  background-color: transparent;
  border: dashed 2px #dfdfdf;
  border-style: dotted;
  cursor: move;
  z-index: 1002; }

.AGEWndTitleMask {
  background-color: #727272;
  border: solid 0 #fff;
  border-style: none;
  cursor: move;
  filter: alpha(opacity=01);
  height: 20px;
  left: 0;
  margin: 0;
  opacity: 0.01;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 1002; }

.AGEWndTable {
  border: solid 0 transparent;
  cursor: default;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%; }

.AGEWndTitle {
  -moz-user-select: none;
  color: #333;
  font-weight: bold;
  margin: 0;
  border-bottom: 1px solid #dfdfdf; }

.AGEWndTitleDiv {
  font-size: 12px;
  font-weight: bold; }

.AGEWndTitleText {
  cursor: pointer;
  text-align: left; }

.AGEWndTitleButton {
  height: 20px;
  overflow: hidden;
  padding-right: 1px;
  text-align: right;
  width: 20px; }

.AGEWndCloseButton {
  display: block;
  cursor: pointer; }
  .AGEWndCloseButton:after {
    content: '\e92c';
    font-family: 'Iconalpha';
    font-size: 14px;
    font-weight: bold; }

.AGEWndNoPadding {
  margin: 0;
  padding: 0; }

/*************************************************/
/* End Popup */
/*************************************************/
.clssBackground {
  background-color: #f8b72b; }

.successWarning {
  background-image: url("../Images/tick.png");
  padding-left: 5px;
  background-repeat: no-repeat;
  letter-spacing: 10px;
  font-size: 12px; }

.errorWarning {
  background-image: url("../Images/x5.gif");
  padding-left: 5px;
  background-repeat: no-repeat;
  letter-spacing: 10px;
  font-size: 12px; }

.successWarning2 {
  background-image: url("../Images/tick.png");
  padding-left: 5px;
  background-repeat: no-repeat;
  letter-spacing: 10px;
  font-size: 12px; }

.errorWarning2 {
  background-image: url("../Images/x5.gif");
  padding-left: 5px;
  background-repeat: no-repeat;
  letter-spacing: 10px;
  font-size: 12px; }

/*************************************************/
/* Icons */
/*************************************************/
.infoIco:after, .usernameIsValid:before, .PwdSuccess:before, .usernameIsNotValid:before, .PwdError:before {
  font-family: 'Iconalpha';
  font-size: 18px;
  cursor: pointer;
  display: inline-block; }

.infoIco {
  text-decoration: none; }
  .infoIco:after {
    content: '\e92a';
    color: #0b599c; }

.usernameIsValid:before, .PwdSuccess:before {
  content: '\e91f';
  color: #52a220; }

.usernameIsNotValid:before, .PwdError:before {
  content: '\e92c';
  color: #fe0000; }

.usernameIsValid:before {
  position: relative;
  top: 4px; }

.usernameIsNotValid:before {
  position: relative;
  top: 4px; }

.tick {
  background: url("../Images/tick.png") no-repeat center top;
  padding-left: 5px;
  letter-spacing: 10px;
  font-size: 12px; }

/*************************************************/
/* Customize search date control */
/*************************************************/
#fdate_trigger, #tdate_trigger {
  margin: 4px 12px 0 4px; }

#tdToDateCal, #tdFromDateCal {
  padding-right: 12px; }

/*************************************************/
/* DateTimeFilter  */
/*************************************************/
.selectDate {
  padding-left: 5px; }

#ddlSelectDate {
  position: relative; }

/*************************************************/
/* General Width  */
/*************************************************/
.width-100per {
  width: 100%; }

.width-80per {
  width: 100%; }

.width-99per {
  width: 99%; }

.width-50per {
  width: 50%; }

/*************************************************/
/* Casino Handhistory */
/*************************************************/
.blue {
  color: #2673ce; }

.bl_favorite {
  font-weight: bold !important;
  color: #B50000; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .tblRpt td, .tblPop td {
    padding: 4px; }
  .divHeader > input[type=button] {
    position: relative;
    top: -7px; }
  .editBtn {
    background-repeat: no-repeat; }
  .freegrid .grid-pager-content {
    padding-top: 2px; }
  .grid-pager select {
    height: 20px; }
  .grid-pager .numberlist {
    padding: 0 0 0 2px; }
  .col60 {
    margin: 2px;
    height: 20px;
    padding: 2px; }
  .content .header.c.b > .btnUnCopyAll, .content .header.c.b > .btnCopyAll {
    width: 17px;
    float: left; }
  .content .header.c.b > .btnSaveDisabled, .content .header.c.b > .btnSave {
    width: 17px;
    float: right; } }
