﻿#lblSelectedMonth
{
	float: left;
	width: 94px;
	text-align: center;
}
.monthPicker
{
	background-color: #FFF;
	border: #CACACA solid 1px;
	width: 135px;
	height: 16px;
	padding: 2px;
	text-align: center;
}
.monthPicker span
{
	padding: 1px 2px 2px 2px;
	margin-left: 4px;
	cursor: pointer;
}

.monthPicker span:hover
{
	background-color: #CACACA;
}
.monthPicker a
{
	background: url(images/sprites.png) no-repeat;
	width: 15px;
	height: 18px;
}

.monthPicker a.prev
{
	background-position: 0 -127px;
	float: left;
}

.monthPicker a.next
{
	background-position: -19px -127px;
	float: right;
}

.monthPicker a.prev:hover
{
	background-position: 0 -148px;
}

.monthPicker a.next:hover
{
	background-position: -19px -148px;
}

.monthPicker a.prev.disabled
{
	background-position: 0 -106px;
	cursor: default;
}

.monthPicker a.next.disabled
{
	background-position: -19px -106px;
	cursor: default;
}

#monthPickerDropDown
{
	position: absolute;
	top: 60px;
	display: none;
	z-index: 9999;
	background: url(images/gradient-e5e5e5-ffffff.gif) repeat-x 0 -20px #FFF;
	border: 1px solid #CCC;
	border-spacing: 2px;
	box-shadow: 0 0 5px #AAA;
	margin: 0;
	padding: 1.5em 0.3em;
	width: 132px;
}
#monthPickerDropDown2
{
	position: absolute;
	top: 60px;
	display: none;
	z-index: 9999;
	background: url(images/gradient-e5e5e5-ffffff.gif) repeat-x 0 -20px #FFF;
	border: 1px solid #CCC;
	border-spacing: 2px;
	box-shadow: 0 0 5px #AAA;
	margin: 0;
	padding: 1.5em 0.3em;
	width: 132px;
}
#monthPickerDropDown ul
{
	list-style-type: none;
	margin: 0 7px 0 7px;
	padding: 0 7px 0 7px;
}
#monthPickerDropDown2 ul
{
	list-style-type: none;
	margin: 0 7px 0 7px;
	padding: 0 7px 0 7px;
}
.monthPickerDropDownInner
{
	margin: 0 20px 0 10px;
}

.monthPickerDropDownInner li
{
	height: 1.5em;
	list-style: none;
}

.monthPickerDropDownInner li a
{
	float: left;
	width: 95%;
	font-family: Verdana, Sans-Serif;
	color: #333 !important;
	border: solid 1px transparent;
	border-radius: 2px;
	padding: 3px 0 3px 5px;
	margin-bottom: 1px;
	text-decoration: none;
}

.monthPickerDropDownInner li a:hover
{
	background: url(images/bg_header.jpg) no-repeat #FFF;
	border-color: #6482AA !important;
	border: 1px solid #CCC;
	text-decoration: none !important;
	text-shadow: 0 1px 1px #FFF;
	color: #6482AA !important;
	text-decoration: none;
}

.monthPickerDropDownInner .year a
{
	color: #3b5998 !important;
}

.monthPickerDropDownInner .year a .bullet
{
	background: url(images/bullet3.png) no-repeat 0 4px;
	font-size: 16px;
	padding-left: 10px;
}

.monthPickerDropDownInner .year a:hover .bullet
{
	background-position: 0 -15px;
}

.monthPickerDropDownInner .year a.selected .bullet
{
	background: url(images/bullet3.png) no-repeat 0 -30px;
}

.monthPickerDropDownInner .year a.selected:hover .bullet
{
	background-position: 0 -46px;
}

.monthPickerDropDownInner .year a.selected.collapse .bullet
{
	background-position: 0 4px;
}

.monthPickerDropDownInner .year a.selected.collapse:hover .bullet
{
	background-position: 0 -15px;
}

.monthPickerDropDownInner .month a
{
	font-size: 11px;
	text-indent: 20px;
	padding: 1px;
}

.monthPickerDropDownInner .month a.selected
{
	color: #333 !important;
	font-weight: bold;
}