﻿html, body
{
	height: 100%;
	max-height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}
body{overflow:hidden;}
.header
{
	height: 90px;
}
.content
{
	width: 100%;
	height: 100%;
	max-height: 100%;
}
.content .menu
{
	width: 220px;
	height: 100%;
}
.content .mainpage
{
	height: 100%;
}
.footer
{
	height: 22px;
}
.mt5
{
	margin-top: 5px;
}

.clear
{
	clear: both;
}
.float_l
{
	float: left;
}
.float_r
{
	float: right;
}
.fontblack
{
	color: #000000;
}
.loading
{
	background: url( 'loading.gif' ) no-repeat;
	width: 62px;
	height: 16px;
}
.nickname
{
	text-align: left;
	color: #7B7B7B;
	font-size: 11px;
	font-family: Tahoma,Arial,helvetica,sans-serif;
	border: 1px solid #A6A6A8;
	background: #ffffff;
	width: 450px;
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari and Chrome */
	border-radius: 4px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
}
.nickname .error
{
	color: Red;
	line-height: 14px;
	padding-left: 7px;
	padding-top: 5px;
}
.nickname .success
{
	color: #24B433;
	line-height: 14px;
	padding-left: 7px;
	padding-top: 5px;
}
.nickname input
{
	background-color: #ffffff;
	border: 1px solid #000;
	color: #000;
}
.nickname label
{
	cursor: pointer;
	display: block;
	color: #000000;
	font-weight: bold;
}
.nickname button
{
	cursor: pointer;
	color: #ffffff;
	font-weight: bold;
	font-size: 10px;
	height: 23px;
	padding-bottom: 3px;
	border: solid 1px #000000;
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari and Chrome */
	border-radius: 4px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
	background: #141414;
	background: -webkit-gradient(linear, left top, left bottom, from(#696969), to(#141414));
	background: -moz-linear-gradient(top,  #696969,  #141414);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= '#696969' , endColorstr= '#141414' );
}
.nickname button:active
{
	font-size: 10px;
	font-weight: bold;
	color: Red;
	background: -webkit-gradient(linear, left top, left bottom, from(#696969), to(#141414));
	background: -moz-linear-gradient(top,  #696969,  #141414);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr= '#696969' , endColorstr= '#141414' );
}
.iconUser
{
	background: url( 'usericon.png' ) no-repeat;
	height: 51px;
	width: 43px;
	position: absolute;
	top: -24px;
	left: 18px;
}
.nickname .mt3
{
	margin-top: 3px;
}
.nickname .top
{
	background: url( 'top.png' );
	width: 335px;
	height: 7px;
}
.nickname .bg
{
	background: #ECECEC url( 'bannerbg.jpg' ) repeat-x;
	height: 199px;
	margin: 2px 2px;
}
.nickname .loginOption
{
	padding-left: 65px;
	padding-top: 3px;
	font-size: 13pt;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
}
.nickname .arrow
{
	background: url( 'arrow.png' ) no-repeat;
	width: 21px;
	height: 37px;
}
.nickname .bg_arrow
{
	background: #DADADA;
	width: 335px;
	height: 36px;
}