﻿.emsg_1_1
{
	background: transparent url(Images/emsg_1_1.gif) no-repeat scroll right bottom;
	height: 9px;
	width: 11px;
}
.emsg_1_2
{
	background: transparent url(Images/emsg_1_2.gif) repeat-x scroll left bottom;
}
.emsg_1_3
{
	background: transparent url(Images/emsg_1_3.gif) no-repeat scroll left bottom;
	width: 9px;
}
.emsg_2_1
{
	background: transparent url(Images/emsg_2_1.gif) repeat-y scroll right top;
}
.emsg_2_2
{
	background: transparent url(Images/emsg_2_2.gif) repeat-y scroll left top;
}
.emsg_3_1
{
	background: transparent url(Images/emsg_3_1.gif) no-repeat scroll right top;
	height: 8px;
}
.emsg_3_2
{
	background: transparent url(Images/emsg_3_2.gif) repeat-x scroll left top;
}
.emsg_3_3
{
	background: transparent url(Images/emsg_3_3.gif) no-repeat scroll left top;
}
.msgerr
{
	background: transparent url(Images/error-icon.gif) no-repeat scroll left top;
	color: #DF2267;
	height: 24px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-left: 5px;
	padding: 1px 0 4px 30px;
	text-align: left;
	vertical-align: middle;
}


.succ_1_1
{
	background: url(Images/succ_1_1.gif) no-repeat right bottom;
	width: 11px;
	height: 9px;
}
.succ_1_2
{
	background: url(Images/succ_1_2.gif) repeat-x left bottom;
}
.succ_1_3
{
	background: url(Images/succ_1_3.gif) no-repeat left bottom; 
	width: 9px;
}
.succ_2_1
{
	background: url(Images/succ_2_1.gif) repeat-y right top;
}
.succ_2_2
{
	background: url(Images/succ_2_2.gif) repeat-y left top; 
}
.succ_3_1
{
	background: url(Images/succ_3_1.gif) no-repeat right top;
	height: 8px;
}
.succ_3_2
{
	background: url(Images/succ_3_2.gif) repeat-x left top;
}
.succ_3_3
{
	background: url(Images/succ_3_3.gif) no-repeat left top; 
}

.msgscc
{
	background: transparent url(Images/Success.gif) no-repeat scroll left top;
	color: #2d9d3b;
	height: 24px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin-left: 5px;
	padding: 1px 0 4px 30px;
	text-align: left;
	vertical-align: middle;
}


.EnrichScc
{
	padding-left: 40px;
	text-align: left;
	position: relative;
	color: #2d9d3b;
	background: url(Images/infoMsg.gif) no-repeat left top;
	height: 30px;
	vertical-align: middle;
}

.Enrich
{
	padding-left: 40px;
	text-align: left;
	position: relative;
	color: #df2267;
	background: url(Images/infoMsg.gif) no-repeat left top;
	height: 30px;
	vertical-align: middle;
}
.EnrichErrmsg
{
	color: #df2267;
	height: 16px;
	background: url(Images/cross.png) no-repeat left top;
	padding-left: 20px;
	text-align: left;
}
.EnrichSuccmsg
{
	color: #2d9d3b;
	height: 16px;
	background: url(Images/tick.png) no-repeat left top;
	padding-left: 20px;
	text-align: left;
}
.EnrichWarmsg
{
	color: #C28F06;
	height: 16px;
	background: url(Images/warning.gif) no-repeat left top;
	padding-left: 20px;
	text-align: left;
}
.EnrichUserName
{
	color: Blue;
	height: 16px;
	text-align: left;
	font-weight: bold;
}