﻿body
{
	background: url(../../_GlobalResources/Images/bgtop_f2.jpg) repeat-x top;
}


#logo .userName{font-weight:bold; color:#013C66}
#banner
{
	background: url(../../_GlobalResources/Images/bg_banner2.jpg)  top left;
}
