﻿body {font-family: Arial,Tahoma, Helvetica, sans-serif; font-size:12px; width:100%; margin: 0px}
Table.Tables {border:0px; width:100%; border-collapse: collapse}
.Tableadmins {border:0px; width:100%; border-collapse: collapse}
.Headadmin{ font-family: Tahoma; font-size:10pt; border:1px solid #ece5db; color: #ffffff; background:#3C7FAF; text-align:center; font-weight:bold; border:1px solid #ece5db; vertical-align:middle}
.hearpos{height:22px; font-family: Tahoma; font-size:10pt; color: #ffffff; background:#3C7FAF; text-align:center; font-weight:normal; border:1px solid #ece5db; vertical-align:middle}
.hea247{font-family: Tahoma; font-size:9pt; text-decoration:none; color: #ffffff; text-align:center; font-weight:normal; vertical-align:middle}
.hea247:hover{color:Red; text-decoration:underline}
.contentadmin{ font-family: Arial; font-size:9pt; border:1px solid #ece5db; vertical-align:middle; padding-top:3px; padding-bottom:3px}
.contentadmin label{display:none;}
.contentadminbold{ font-family: Tahoma; font-size:10pt; font-weight:normal; color: #0033ff; border:1px solid #ece5db; vertical-align:middle; padding-top:3px; padding-bottom:3px}
.headingmenuleft {padding: 4px 0 0 0; color:#24466c; font-family:Tahoma, Sans-Serif; font-weight:bold; font-size:9pt; text-align:left;}
.headingmenuleft:hover {color:#2b86ff;}
.LinkButtonadmin {color:#ffffff; font-family: Arial; font-weight:normal;  font-size:8pt; text-decoration:none}
.LinkButtonadmin:hover {color:#ff0000; font-style:normal; text-decoration:underline}
.LinkButton {color:#24466c; font-family: Tahoma; font-weight:normal; font-size:8pt; text-decoration:none}
.LinkButton:hover {color:#ff0000; font-style:normal; text-decoration:underline}
#left_menu {padding-left: 0px; padding-right: 0px; margin: 0px; text-align: left; font-family: Tahoma; color:#24466c; font-size: 10pt; width:100%;}
/*----updata----*/
a.update { background: url(images/page_save.png) center left no-repeat; text-decoration:none; padding: 5px 5px 5px 20px; color:#0033ff; font-family: Arial; font-weight:normal; }
a.update:hover {color:#ff0000; text-decoration:underline}
/*----back----*/
a.back {background: url(images/back.gif) center left no-repeat; text-decoration:none; padding: 5px 5px 5px 20px; color:#0033ff; font-family: Arial; font-weight:normal; }
a.back:hover {color:#ff0000; text-decoration:underline}
.name_fild_col{ font-family:Arial, Helvetica, sans-serif; font-size:12px;	color:#ffffff; background:#3a75b6; text-align:center; font-weight:bold}
.march_value{font-size:12px; font-family: Arial, Helvetica, sans-serif; color:#0000FF; text-align:left; vertical-align:middle}
.atd{border:1px solid #ece5db; vertical-align: middle}
.atd_td{border:1px solid #ece5db; vertical-align: middle; font-weight:bold; color:#006699}
a.recyclebin { background: url(images/delete.gif) left no-repeat; padding: 5px 5px 5px 20px; color:#0033ff; font-family: Arial; font-weight:normal; text-align:center; }
a.recyclebin:hover {color:#ff0000;}
a.delete {text-decoration:none; background: url(images/nut_xoa.gif) left no-repeat; padding: 0px 0px 0px 20px; color:#0033ff; font-family: Arial; font-weight:normal; text-align:center; }
a.delete:hover { color:#ff0000; text-decoration:underline}
a.xem {text-decoration:none; background: url(images/xem.gif) left no-repeat; padding: 0px 0px 0px 20px; color:#0033ff; font-family: Arial; font-weight:normal; text-align:center; }
a.xem:hover { color:#ff0000; text-decoration:underline}
a.edit {text-decoration:none; background: url(images/edit.gif) left no-repeat; padding: 0px 0px 0px 20px; color:#0033ff; font-family: Arial; font-weight:normal; text-align:center; }
a.edit:hover{text-decoration:underline; color:#ff0000;}
a.Hienthi {background: url(images/edit.gif) center left no-repeat; padding: 5px 5px 5px 20px; color:#0033ff; font-family: Arial; font-weight:normal; text-align:center; }
a.Hienthi:hover {color:#ff0000;}
a.addnew {background: url(images/nut_them.gif) left no-repeat; padding: 0px 0px 0px 20px; color:#0033ff; font-family: Arial; font-weight:normal; text-decoration:none }
a.addnew:hover {color:#ff0000; text-decoration:underline}
a.cancel {background: url(images/disable.gif) center left no-repeat; padding: 5px 5px 5px 20px; color:#0033ff; font-family: Arial; font-weight:normal; }
a.cancel:hover {color:#ff0000;}
a.back {background: url(images/back.gif) center left no-repeat; padding: 5px 5px 5px 20px; color:#0033ff; font-family: Arial; font-weight:normal; }
a.back:hover {color:#ff0000;}
a.permission {text-decoration:none; background: url(images/permission.gif) center left no-repeat; padding: 5px 5px 5px 20px; color:#0033ff; font-family: Arial; font-weight:normal; }
a.permission:hover {color:#ff0000; text-decoration:underline}
a.changepassword {text-decoration:none; background: url(images/changepass.gif) left no-repeat; padding: 5px 5px 5px 20px; color:#0033ff; font-family: Arial; font-weight:normal;}
a.changepassword:hover {color:#ff0000; text-decoration:underline}
a.dangtin {text-decoration:none; background: url(images/duyetlen.png) center left no-repeat; padding: 5px 5px 5px 20px; color:#0033ff;	font-family: Arial;	font-weight:normal; }
a.dangtin:hover {color:#ff0000; text-decoration:underline}
a.hatin {text-decoration:none; background: url(images/haxuong.PNG) left no-repeat; padding: 5px 2px 5px 20px; color:#0033ff; font-family: Arial; font-weight:normal; }
a.hatin:hover {color:#ff0000; text-decoration:underline}
a.tuchoi {text-decoration:none; background: url(images/tuchoi.png) center left no-repeat; padding: 5px 5px 5px 20px; color:#0033ff; font-family: Arial; font-weight:normal; }
a.tuchoi:hover {color:#ff0000; text-decoration:underline}

a.search {text-decoration:none; background: url(images/hienthi.gif) center left no-repeat; height:22px; padding: 5px 0px 5px 70px; color:#0033ff; font-family: Arial; font-weight:normal; }
a.search:hover {color:#ffffff; text-decoration:none}
a.searchpos {text-decoration:none; background: url(images/hienthi.gif) center left no-repeat; padding: 5px 0px 5px 70px}
a.searchpos:hover {color:#ffffff; text-decoration:none}

.col_width_align_left { font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:right; font-weight:normal; padding-right:2px; width:20%}
.col_width_align_right { font-family:Arial, Helvetica, sans-serif; font-size:12px; text-align:left; padding-left:2px; font-weight:normal; width:80%}
.tr_color {background: #ededed; text-align:left; font-weight:bold; height:30px}
.tr_while {background: #FFFFFF; text-align:left}
.tr_while_over {background:#fff9ea; text-align:left; font-weight:normal; color:black;}
.tr_color_over {background:#fff9ea; text-align:left; font-weight:bold; color:Red; height:30px}
.titad{text-align:left; border-bottom: 1px solid #fadc9b; padding-left:10px; background:#ececec; padding-top: 5px; padding-bottom: 5px; color:#004b80; font-family:Times New Roman; font-size:11pt; font-weight:bold}
.titmem{text-align:left; border: 1px solid #ffecc6; padding-left:10px; background:#fff9ea; padding-top: 3px; padding-bottom: 3px; font-family: Tahoma; font-size: 9pt; font-weight:bold; width:100%}
.titmemlogin{text-align:left; border-bottom: 1px solid #b7c8f3; border-top: 1px solid #b7c8f3; padding-left:10px; background: #fff9ea; padding-top: 5px; padding-bottom: 5px; font-family:Tahoma; font-size:10pt; font-weight:bold; width:98%; margin-bottom:5px}
.titmemlogin2{text-align:left; border: 1px solid #b7c8f3; padding-left:10px; background: #fff9ea; padding-top: 5px; padding-bottom: 5px; font-family:Tahoma; font-size:10pt; font-weight:bold; width:513px; margin-top:5px}
.titmemlogin1{text-align:left; border: 1px solid #b7c8f3; padding-left:10px; background: #fff9ea; padding-top: 5px; padding-bottom: 5px; font-family:Tahoma; font-size:10pt; font-weight:bold; width:98%; margin-bottom:5px; margin-top:5px}
.add{text-align:left; padding-left:10px; padding-top: 5px; padding-bottom: 5px}
.addpos{text-align:left; padding: 10px 0px 5px 0px}
.leftadd {text-align: right;  padding-right:5px}
.lerightadd {text-align: left;  padding-right:5px}
.labadd {font-family: Arial; font-size: 9pt; color:#1f4167}
.texadd {font-family: Arial; font-size: 9pt; color:#1f4167; height:15px; vertical-align:middle; padding-top:2px}
.texaddtit {font-family: Arial; font-size: 9pt; color:#1f4167; height:20px; vertical-align:middle; padding-top:2px}
.texsearch {font-family: Arial; font-size: 9pt; color:#1f4167; height:17px; vertical-align:middle; padding-top:3px}
.texsearchadmin {font-family: Arial; font-size: 9pt; color:#1f4167; height:14px; vertical-align:middle; padding-top:3px}
.lbleft {font-family: Arial; font-size: 9pt; font-weight:bold}
.lblright {font-family: Arial; font-size: 9pt}
.leftadm {text-align: right; width:20%; border-bottom: 1px dotted #97948f; border-right: 1px dotted #97948f; padding: 3px 5px 3px 0px;}
.lerightadm {text-align: left; width:80%; border-bottom: 1px dotted #97948f; padding: 3px 0px 3px 5px;}

a.status {background: url(images/yes.PNG) left no-repeat; padding: 0px 0px 0px 20px; color:#0033ff; font-family: Arial; font-weight:normal; text-decoration:none }
a.status:hover {color:#ff0000; text-decoration:underline}
a.dates {background: url(images/time.PNG) left no-repeat; padding: 0px 0px 0px 20px; color:#0033ff; font-family: Arial; font-weight:normal; text-decoration:none }
a.dates:hover {color:#ff0000; text-decoration:underline}
a.hatins {background: url(images/disenable.PNG) left no-repeat; padding: 0px 0px 0px 10px; color:#0033ff; font-family: Arial; font-weight:normal; text-decoration:none }
a.hatins:hover{color:#FFFFFF; text-decoration:none}
a.editpos {background: url(images/edit.PNG) left no-repeat; padding: 0px 0px 0px 12px; color:#0033ff; font-family: Arial; font-weight:normal; text-decoration:none }
a.editpos:hover {color:#FFFFFF; text-decoration:none}
a.deletepos {background: url(images/delete.PNG) left no-repeat; padding: 0px 0px 0px 14px; color:#0033ff; font-family: Arial; font-weight:normal; text-decoration:none }
a.deletepos:hover {color:#FFFFFF; text-decoration:none}
a.postpos {background: url(images/enable.PNG) left no-repeat; padding: 0px 0px 0px 10px; color:#0033ff; font-family: Arial; font-weight:normal; text-decoration:none }
a.postpos:hover {color:#FFFFFF; text-decoration:none}
a.vips {background: url(images/vip.PNG) left no-repeat; padding: 2px 10px 2px 10px; color:#0033ff; font-family: Arial; font-weight:normal; text-decoration:none }
a.vips:hover {color:#FFFFFF; text-decoration:none}
admin_menu
{
    font-style: normal;
    text-align: left;
    color: #333333;
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    font-variant: inherit;
    text-indent: 10px;
}
.sub_admin_menu
{
    font-family: Tahoma;
    font-size: 11px;
    color: #333333;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
}
.sub_admin_menu_child
{
    font-family: Tahoma;
    font-size: 11px;
    color: #333333;
    text-align: left;
    text-decoration: none;
}
.leftaddrv {text-align: right; width: 17%; padding-right:5px}
.lerightaddrv {text-align: left; width:83%; padding-right:5px}
.page {font-family: Tahoma; font-size: 10pt; font-weight: bold; text-decoration: none; color: #000000; text-align: right; padding-right: 15px; float: right; width: 400px}
.page a{font-family: Tahoma; font-size: 10pt; font-weight: bold; text-decoration: none; color: #ea1111; text-align: right}
.leftadds{float: left; width: 400px; text-align: left}
.Checkbox{ padding:4px 4px; }
.menushow{clear:left; height: 30px;}
.menushow ul{clear:left;margin:0;padding:0;}
.menushow li{margin: 0 1px;float:left; line-height:30px;padding:0 10px;border-bottom:0!important;border: 1px solid #cccccc; background:#f6f6f6; -moz-border-radius:8px 8px 0px 0px;border-radius:8px 8px 0px 0px;-webkit-border-radius:8px 8px 0px 0px;}
.menushow li a{color:#016c9a;font-size:12px;text-decoration:none;}
.menushow li.active,
.menushow li:hover{border: 1px solid gold; color:#ef9c00;}
.menushow li.active a,
.menushow li a:hover{ color:#ef9c00;}
.divchucnang
{
    width: 1124px;
}
.tabletext
{
    text-align: center;
font-size: 14px;
padding-bottom: 10px;
}
.tableGD
{
    width: 800px;
float: left;
}
.tabledonhang
{
    width: 315px;
float: left;
padding-left: 9px;
}
.txttien
{
    font-size: 13px;
font-weight: bold;
 color: red;
}
.divquaylai
{
    padding-top: 20px;
padding-left: 20px;float: left;
}
.tongtien
{
    padding-top: 10px;
}
.Tables td
{
    padding:5px;
}
.tongtien123
{
    padding-top: 10px;
width: 1124px;
float: left;
}