﻿body
{
	margin: 0;
}

table
{
	margin: 0;
	padding:2px 1px 2px 2px;
}

table td {
    border-bottom:1px solid #E0E0E0;
    border-right:1px solid #E0E0E0;
    font-family: Tahoma,Arial ,helvetica ,sans-serif;
    font-size:11px;
}

.tdvalue
{
	font-weight:bold;
}

.note
{
	padding:2px 1px 1px 2px;
	font-size:11px;
	color:#333;
}