﻿a:link, a:visited
{
    color: #1E1EEB;
    text-decoration: none;
}
li
{
    margin-bottom: 3px;
    margin-top: 3px;
}
div.right_box
{
    float: right;
    padding-right: 4px;
    padding-top: 4px;
}
span.right_box
{
    float: right;
    padding-right: 4px;
    padding-top: 4px;
}
.tblRpt
{
    background-color: #B7B7B7;
    white-space: nowrap;
    text-align: right;
}
.tblRpt_center
{
    background-color: #B7B7B7;
    white-space: nowrap;
    text-align: center;
}
.tblRpt_numbergame
{
    background-color: #B7B7B7;
    text-align: center;
}
.tblRpt tr, .tblRpt_center tr
{
    height: 20px;
}
tr.closed_row, tr.closed_row:active
{
    background-color: #ccc7ba;
}
tr.odd_row, tr.odd_row:active
{
    background-color: #F6F8F9;
}
tr.even_row, tr.even_row:active
{
    background-color: #faf9ee;
}
tr.even_row:hover, tr.odd_row:hover, tr.closed_row:hover
{
    background-color: #f8ff8d;
}

.tblRpt td, .tblRpt_center td, .tblRpt_numbergame td
{
    line-height: normal;
    padding: 0 2px;
}

table.tblRpt tr td
{
    white-space: nowrap;
}

.RptTitleLeft
{
    text-align: left;
    text-transform: uppercase;
    background-color: #fff;
    height: 22px;
    font-weight: normal !important;
}
.RptFooter
{
    background: url( "../../_GlobalResources/Images/bg_f01.jpg" ) repeat-x scroll center top #783819;
    color: #FFFFFF;
    font-weight: bold;
    white-space: nowrap;
}
.RptSubTitle
{
    background-color: #FFEFDE;
    font-weight: normal;
    text-align: left;
}

.boldrow
{
    font-weight: bold;
}
.left_normal
{
    text-align: left;
    font-weight: normal;
}

#box_header
{
    background: url("../../_GlobalResources/Images/bg_boxTop.jpg") repeat-x scroll center top #E7E7E7;
    border: 1px solid #CACACA;
    margin-bottom: 7px;
    margin-top: 0;
    padding: 0;
    
	-moz-border-radius: 3px; /* Firefox */
	-webkit-border-radius: 3px; /* Safari and Chrome */
	border-radius: 3px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */ 
}
input.date_no
{
    font-size: 11px;
    padding: 1px;
    width: 67px;
}

#content_title
{
    background: url("../../_GlobalResources/Images/icon_content.gif") no-repeat scroll 5px center #FFEFDE;
    font-weight: bold;
    padding: 0 0 0 24px;
    text-align: left;
    text-transform: none;
}
.league
{
    background: #f8f1e9 url(../../_GlobalResources/Images/bg_header03.jpg) repeat-x scroll center top;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    color: #333;
}
.downline_link
{
    color: Blue;
    cursor: pointer;
}
.altercol
{
    background-color: #f5f2d6;
    text-align: right;
}
.altercol_bold
{
    background-color: #f5f2d6;
    text-align: right;
    font-weight: bold;
}
.altercol_master
{
    background: #432616 url(../../_GlobalResources/Images/bg_f02.jpg) repeat-x scroll center top;
    color: #FFF;
    font-weight: bold;
    white-space: nowrap;
}

#winloss_league
{
    float: left;
    width: 275px;
    display: block;
}

#winloss_match
{
    background: transparent url(../../_GlobalResources/Images/icon_content04.gif) no-repeat scroll left center;
    color: #F00;
    float: left;
    margin-left: 2px;
    padding-left: 25px;
    padding-right: 5px;
    text-transform: uppercase;
    display: block;
}
#virtual_span
{
    display: block;
    float: left;
    text-indent: -10000px;
}

.bl_under
{
    color: #01122B;
    font-weight: bold !important;
}

.bl_favorite
{
    color: #B50000;
    font-weight: bold !important;
}

.bl_time
{
    color: #434343;
    font-size: 7pt !important;
    font-weight: normal;
    text-align: center;
}

.bl_time_nowrap
{
    color: #434343;
    font-size: 7pt !important;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
}
.last_goal
{
    background: url(../../_GlobalResources/Images/lastGoal.gif) no-repeat center center;
    height: 10px;
    width: 14px;
    display: inline;
    padding: 0 4px;
}
.first_goal
{
    background: url(../../_GlobalResources/Images/firstGoal.gif) no-repeat center center;
    height: 10px;
    width: 14px;
    display: inline;
    padding: 0 4px;
}
.fhFirstGoal
{
    background: url(../../_GlobalResources/Images/1F.gif) no-repeat scroll center center transparent;
    display: inline;
    height: 10px;
    padding: 0 4px;
    width: 14px;
}
.fhLastGoal
{
    background: url(../../_GlobalResources/Images/1L.gif) no-repeat scroll center center transparent;
    display: inline;
    height: 10px;
    padding: 0 4px;
    width: 14px;
}

.no_info
{
    text-align: center;
    background-color: #FFFFFF;
    font-weight: normal;
}

.hand
{
    cursor: pointer;
}

.float_r
{
    float: right;
}

.float_l
{
    float: left;
}

.required
{
    color: Red;
    width: 7px;
}

.text_f
{
    color: #F60;
    font-size: 11px;
    vertical-align: top;
}

.text_f1
{
    color: #F93;
    font-style: italic;
    font-size: 11px;
    vertical-align: top;
}

.mg5
{
    margin: 5px;
}

.ascSorting, .descSorting
{
    background-image: url(ui-icons.png);
    width: 16px;
    height: 16px;
    margin-left: 5px;
    font-size: 12px;
}
.ascSorting
{
    background-position: 0px -16px;
}
.descSorting
{
    background-position: -64px -16px;
}

.LineMonitor
{
    width: 1px;
    height: 26px;
    margin-top: 3px;
    background: url(../../_GlobalResources/Images/rightf001a.gif) no-repeat left;
}
td.selectedBetType a
{
    color: #9D1C1C;
}

/* Start: Match WL Detail */
#BoxLeagueWL
{
    position: absolute;
    background: #fff;
    width: 900px;
    border: solid 1px #B7B7B7;
    left: 4px;
    top: 62px;
}

#ContentLeagueWL
{
    background:#fff;
    width: 888px;
    max-height: 310px;
    border: none;
    overflow: auto;
    padding-right: 1px;
}

#ContentLeagueWL .ListLeague li
{
    width: 50%;
}

#iconSelLeague
{
    background: url("../../_GlobalResources/Images/letter_icoconts.png") no-repeat scroll 5px center #FFEFDE;
    font-weight: bold;
    padding: 0 0 0 20px;
    text-align: left;
    width:890px;
    text-transform: none;
}

#closeBoxLeague
{
    background: url("../../_GlobalResources/Images/icon_close.jpg") no-repeat scroll 5px center #FFEFDE;
    font-weight: bold;
    width:20px;
    cursor:pointer;
    text-transform: none;
}

#boderBoxLeague
{
    background: url("../../_GlobalResources/Images/global_bg.gif");
    text-transform: none;
    padding: 4px;
}
/* End: Match WL Detail */

#SelLeagueGroup
{
    position: absolute;
    background: #fff;
    width: 900px;
    border-bottom: solid 1px #B7B7B7;
    border-right: solid 1px #B7B7B7;
    border-left: solid 1px #B7B7B7;
    left: 4px;
}

.tblLeague
{
    text-align: left;
    width: 900px;
    background-image: url(bg_nav.gif);
}
.BoxLeague
{
    width: 899px;
    height: 310px;
    border: none;
    overflow: auto;
    padding-right: 1px;
}

.BoxLeague .ListLeague li
{
    width: 50%;
}

.ListLeague
{
    width: 90%;
    float: left;
    padding-left: 1px;
    padding-right: 1px;
    text-align: left;
}

.ListLeague li
{
    list-style: none;
    float: left;
    text-align: left;    
}

.LoadingMonitor
{
    background: url("../../_GlobalResources/Images/ajax-loader.gif") no-repeat scroll center top transparent;
    line-height: 18px;
    opacity: 1;
    height: 23px;
    width: 23px;
}

#hor-minimalist-a
{
    width: 100%;    
}
#hor-minimalist-b
{
	font-size: 12px;
	background: #fff;
	border-collapse: collapse;
	text-align: left;
	width: 100%;  
}
#hor-minimalist-b th
{
	font-weight: normal;
	color: #fff;
	background: url(../../_GlobalResources/Images/bg_header02.jpg) repeat-x scroll center top #6A6969;
	padding: 2px 2px;
	border: solid 1px #999;
	text-align: center;
}
#hor-minimalist-b td
{
	color: #000;
	/*vertical-align: top;*/
	padding: 2px 2px 2px 2px;
	border: solid 1px #999;
	text-align: right;
}
#hor-minimalist-b tbody tr:hover td
{	
	color: #009;
	background-color:#FFFF00;
}
#hor-minimalist-b tbody tr#tr_footer:hover td
{
	color: #000000;
	background-color:#E8DFCA;
}
.titleMenu
{
	cursor:pointer; 
	width: 300px;
}
.menuItem
{
	width: 150px; 
	background-color: #E4EBF5; 
}
.tblBorder
{
	border-collapse: collapse;
	border-color: #b7b7b7;
}
#tbl-rpt th, td
{
	border-color: #b7b7b7;
}
.right
{
	text-align: right;
}
a:link, a:visited
{
	color: #1e1eeb;
	text-decoration: none;
}
a:hover
{
	color: #F60;
	text-decoration: none;
}
.colorPink
{
	background-color: #F6E3E9;
}
.ps a:link, .ps a:visited, .ps a:hover {
    color: #1E1EEB;
    text-decoration: none;
}